<% title t("authentication.reset_password") %>

<div id="password_reset_form">
    <%= form_tag password_resets_path, :method => :post do %>
        <div class="field">
          <%= label_tag t("authentication.email") %>
          <%= email_field_tag :email %>
        </div>
        <div class="actions"><%= submit_tag t("authentication.reset_password"), :class => "button" %></div>
    <% end %>
</div>