<% title "标签" %>

<p>Total: <%= @tags.size %> tags.</p>
<div>
    <table class="formatted">
      <tr>
        <th><%= t("general.name") %></th>
        <th></th>
      </tr>

    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, search_index_path(:tags => [tag]) %></td>
        <td><%= link_to "", tag_path(tag), :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" %></td>
      </tr>
    <% end %>
    </table>
</div>