<div class="comments_fields">
    <span class="trivial">用户评论：</span><br/>
    <% if current_user %>
        <div class="mt5 mb10 clearfix">
            <%= render "comments/new_comment", :item => item%>
        </div>
    <% else %>
        <span class = "trivial">想来说两句？</span><%= link_to "立即注册", new_user_path %>
    <% end %>

    <div class="comments_container <%= item.id.to_s %> mt10">
        <!--< unless item.comments.empty? %>-->
            <!--<= nested_comments(item, patch_ancestry(item.comments.arrange(:order => :created_at))) %>-->
        <!--< end %>-->
        <% item.comments.each do |comment| %>
            <%= render "comments/single_comment", comment: comment, item: item %>
        <% end %>
    </div>
</div>