<% if item.comments.empty? %>
    <%= content_tag(:p, t("comments.new_hint"), :class => "trivial") %>
<% else %>
    <b><%= t("comments.all") %></b>
    <div id="comments">
        <%= nested_comments(item, patch_ancestry(item.comments.arrange(:order => :created_at))) %>
    </div>
<% end %>
<div class="clearfix"></div>
<% if current_user %>
    <%= render "comments/new_comment", :item => item%>
<% end %>
