<div class="item info">
    <b><%= link_to get_subject(item), item %></b><br/>
    <%= render "shared/show_tags", :item => item %><br/>
    <%= truncate_content(get_content(item), 40) %>
    <%= link_to(t("info_items.detail"), item)  %>
</div>


