<div class="block round">
    <div><%= get_kind(item) %></div>
    <b><%= link_to get_subject(item), item %></b><br/>
    <%= render "search/show_tags", :item => item %><br/>
    <%= truncate_content(get_content(item), 40) %>
</div>


