<div>
    <span id="keywords"><%= params[:query] %></span>
</div>

<hr/>
<div class="two_columns_container" >
  <div id="search_results" class="left_column">
    <% @items.each do |item| %>
        <% if item.is_a?(Article) %>
            <%= render "info_items/info_item_short", :item => item %>
        <% else %>
            <%= render item %>
        <% end %>
    <% end %>
  </div>

  <div id="tips_list" class="right_column">
  </div>
</div>
