<div id="brief_report" class="block">
    <h2><%= params[:query] %></h2>
  </div>

<hr/>
<div class="two_columns_container" >
  <div id="items_list" class="left_column">
    <% @items.each do |item| %>
        <%= render "info_items/info_item_short", :item => item %>
    <% end %>
  </div>

  <div id="tips_list" class="right_column">
  </div>
</div>
