<div>
    <span id="keywords"><%= params[:query] %></span>
</div>

<hr/>

<div id="search_results" class="left_column">
    <% @items.each do |item| %>
        <% if item.is_a?(Article) %>
            <%= render "info_items/info_item_short", :item => item %>
        <% else %>
            <%= render "search/result_item", :item => item %>
        <% end %>
    <% end %>
</div>

