<div class="content_block_inside">
    <h2><%= t("general.edit") %></h2>

    <%= render 'form' %>

    <%= link_to t("general.show"), @recommendation %> |
    <%= link_to t("general.back"), recommendations_path %>
</div>