<div class="content_block_inside">
    <h2><%= t("recommendations.new_recommendation") %></h2>
    <p>
      <%= t("recommendations.recommendation_suggestion_1") %>
    </p>
    <p>
        <span class="trivial"><%= t("recommendations.recommendation_suggestion_2") %></span>
    </p>

    <%= render 'form' %>
</div>