<% title t("recommendations.new_recommendation") %>
<p>
  <%= t("recommendations.recommendation_suggestion_1") %>
</p>
<p>
    <span class="trivial"><%= t("recommendations.recommendation_suggestion_2") %></span>
</p>

<%= render 'form' %>
