<% title t("general.edit") %>

<%= render 'form' %>

<div>
    <%= link_to t("general.show"), [:admin, @article] %> |
    <%= link_to t("general.back_to_list"), admin_articles_path %>
</div>

