<div class="content_block_inside">
    <h2><%= t("general.edit") %></h2>

    <%= render 'form' %>

    <%= link_to t("general.show"), [:admin, @article], :class => "button" %> |
    <%= link_to t("general.back"), admin_articles_path, :class => "button" %>
</div>
