<div class="article_item">
    <h4><%= article.title %></h4>
    <blockquote><%= article.content %></blockquote>

    <div class="actions">
        <%= link_to t("general.show"), article %>
    </div>
</div>