<div class="content_block_inside">
    <h2><%= t("general.edit") %></h2>

    <%= render 'form' %>

    <hr/>
    <%= link_to t("general.show"), @article %> |
    <%= link_to t("general.back"), articles_path %>
</div>


