<div class="content_block_inside">
    <h2><%= t("articles.articles") %></h2>

    <%= paginate @articles %>
    <% @articles.each do |article| %>
        <%= render "info_items/info_item", :item => article %>
    <% end %>
</div>