<%= render "article", :article => @article %>

<div class="nav_links">
    <%= link_to t("general.back_to_list"), articles_path %>
</div>

<hr/>
<%= render "comments/comments", :item => @article %>

