<% title [t("general.edit"), @topic.title].join(" - ") %>

<%= render 'form' %>


<div class="actions">
    <%= link_to t("general.show"), @topic %> |
    <%= link_to t("general.back_to_list"), topics_path %>
</div>

