<% title t("topics.topics") %>

<% @topics.each do |topic| %>
    <h2><%= link_to topic.title, topic %></h2>

    <%= raw topic.content %>
<% end %>

<% if current_user_has_permission? :editor %>
    <div class="actions">
        <%= link_to t("topics.new"), new_topic_path, :class => "button" %>
    </div>
<% end %>
