<% title @topic.title %>

<div id="topic_content" class="mercury-region" data-type="editable">
    <%= raw @topic.content %>
</div>

<% if current_user_has_permission? :editor %>
    <div class="mt10">
        <%= link_to t("general.mercury_edit"), "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_topic_path(@topic)}, :class => "button" %>
        <%= link_to t("general.edit"), edit_topic_path(@topic), :class => "button" %>
        <%= link_to t("general.delete"), @topic, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    </div>
<% end %>