<% title t("badges.all") %>

<% @badges.each do |badge| %>
    <div>
        <%= image_tag "award.png" %>
        <%= link_to badge.name, badge %>
        <%= "(" + badge.user_ids.size.to_s + ")" %>
        <%= content_tag :span, badge.description, :class => "trivial" %>
    </div>
<% end %>
