<% title t("badges.badges") %>

<div id="enabled_badges">
    <% @badges.each do |badge| %>
        <div>
            <%= image_tag "award.png" %><%= link_to badge.name, badge %>
            <%= "×" + badge.user_ids.size.to_s %>
            <%= badge.description %>
        </div>
    <% end %>
</div>