<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @badge.description %>
</p>

<p>
  <b>Repeatable:</b>
  <%= @badge.repeatable %>
</p>

<%= link_to t("general.back_to_list"), badges_path %>