<% title @badge.name %>

<%= render "badge", :badge => @badge %>

<% if current_user_has_permission?(:administrator) %>
    <div class="actions">
        <%= link_to t("general.change"), edit_badge_path(@badge), :class => "button" %>
        <%= link_to t("general.delete"), @badge, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    </div>
<% end %>

<div class="nav_links">
    <%= link_to t("general.back_to_list"), badges_path %>
</div>