<div class="fl box_shadow b_white p5 mb10 mr20" style="width:130px;">
    <div class="center lighter_touch" >
        <%= link_to image_tag("grey.gif", "data-original"=> recipe.get_image_url(:thumb), width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_WIDTH, class: 'lazy', alt: recipe.name, title: recipe.name), recipe %>
    </div>
    <div>
        <span class="f12 display_inline"><%= truncate_content recipe.name, 10 %></span><br/>
        <%= link_to recipe.author.login_name, recipe.author %>
    </div>
</div>