<script type="tpl" id="tpl">
    <div class="waterfall grid_3 box_shadow" data-id="{{id}}">
     <a href="<%= "recipes/{{id}}" %>" class="image">
        <img height="{{height}}" width = "<%= IMAGE_THUMB_WIDTH %>" alt="{{name}}" src="{{picture_url}}" />
     </a>
     <p>{{name}}</p>
    </div>
</script>