<div class="listed_item clearfix">
    <!--avoid assets error when image_url is nil-->
    <div class="fl mr10 clearfix">
        <% thumb_url = recipe.get_image_url(:thumb) %>
        <% if thumb_url.present? %>
            <%= link_to image_tag(thumb_url, width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, alt: recipe.name), recipe %>
        <% end %>
    </div>

    <div class="fl clearfix" style="width: 500px;">
        <h3 class="f15"><%= link_to recipe.name, recipe %></h3>
        <p class="tight f12"><%= truncate_content recipe.instruction, 200 %></p>
        <%= link_to recipe.author.login_name, recipe.author, class: "trivial" %>
    </div>
</div>
