 <div class="related_recipe_block grid_3 mt10">
    <% related_recipes.each do |related_recipe| %>
        <li style="float:left;width:50%;"><img src="<%= related_recipe.get_image_url %>" width="80" />
            <br/>
            <%= related_recipe.name %>
        </li>
    <% end %>
</div>