<h1 class = "center"><%= t("recipes.recipe_collection") %></h1>
<!--<= Recipe.all.size %>-->
<!--<= Image.all.size %>-->

<div class="grid_9 block">
    <%= render "shared/waterfall", path: more_recipes_path, waterfall_partial: "recipes/recipe_waterfall", columns_count: 3, columns_width: 240 %>
</div>

<div class="tags area">
</div>

<div>
    <%= link_to t("recipes.new"), new_recipe_path %>
</div>


