<div class="{{user_id}} fl">
    <a href="/relationships?target_id={{user_id}}&amp;target_type=User" class="button new_relationship" data-method="post" data-remote="true" rel="nofollow"><%= t("relationships.new") %></a>
    <a href="/relationships/cancel?target_id={{user_id}}&amp;target_type=User" class="button cancel_relationship hide" data-method="put" data-remote="true" rel="nofollow"><%= t("relationships.cancel") %></a>
</div>