<% if current_user && current_user != target %>
    <span class="<%= target.id %>">
        <% established = current_user.has_followed?(target) %>
        <%= link_to "", relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :post, :remote => true, :class => "btn_addAttention#{" hide" if established} fl" %>
        <%= link_to "", cancel_relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :put, :remote => true, :class => "btn_cancelAttention#{" hide" unless established} fl" %>
    </span>
<% end %>