<% if current_user_has_permission?(:normal_user)  %>
 <div class="<%= target.id %>">
    <% established = current_user.relationships.select{|r| r.target_type == target.class.name && r.target_id == target.id.to_s}.size > 0 %>
    <%= link_to t("relationships.new"), relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :post, :remote => true, :class => "button new_relationship#{" hide" if established}" %>
    <%= link_to t("relationships.cancel"), cancel_relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :put, :remote => true, :class => "button cancel_relationship#{" hide" unless established}" %>
 </div>
<% end %>