/*
	Comments-Styles
*/

.comment {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #dbdbdb;
    margin-bottom: 5px;
    width:500px;
    word-wrap: break-word;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

blockquote {
    display:inline;
	margin: 0;
    padding: 0;}
blockquote span.quoted:before {
	content: '"'; }
blockquote span.quoted:after {
	content: '"'; }