@charset "utf-8";
/* CSS Document */

div.fields_group {
    border: 1px solid gray;
    margin: 5px 0 5px 0;
    overflow:hidden;
    padding: 5px;
}

div.field {
    overflow:hidden;
}

div.actions {
    margin-top: 5px;
}

p.nav_links {
    margin-top: 10px;
}

label.severity_image {
    width:48px;
    height:64px;
    display:block;
}

label.severity_image.severity_0 {
    background-image:url("/images/severity_0_small.png");
}
label.severity_image.severity_1 {
    background-image:url("/images/severity_1_small.png");
}
label.severity_image.severity_2 {
    background-image:url("/images/severity_2_small.png");
}
label.severity_image.severity_3 {
    background-image:url("/images/severity_3_small.png");
}

ul.token-input-list-facebook
{
    width:200px;
}
div.token-input-dropdown-facebook
{
    width:200px;
}

/*
    Admin styles
*/

.toggle.on{
    background: url("/images/correct_icon.gif") no-repeat;
}

.toggle.off{
    background: url("/images/wrong_icon.gif") no-repeat;
}

/*
    Article content
*/
#article_content {font-size: 13px; }