@charset "utf-8";
/* CSS Document */

.content_block_inside {
    padding: 10px;
}

div.fields_group {
    border: 1px solid gray;
    margin: 5px 0 5px 0;
    overflow:hidden;
}

div.field {
    overflow:hidden;
}

#severity_options {
    float:left;
    clear:both;
    width:150px;
}

label.severity_image {
    width:48px;
    height:64px;
    display:block;
}

label.severity_image.severity_0 {
    background-image:url("/images/severity_0_small.png");
}
label.severity_image.severity_1 {
    background-image:url("/images/severity_1_small.png");
}
label.severity_image.severity_2 {
    background-image:url("/images/severity_2_small.png");
}
label.severity_image.severity_3 {
    background-image:url("/images/severity_3_small.png");
}

ul.token-input-list-facebook
{
    width:200px;
}
div.token-input-dropdown-facebook
{
    width:200px;
}