@charset "utf-8";
/* CSS Document */

.two_columns_container {
	margin-bottom:20px;
    margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */
	overflow: hidden; /* 此声明可使 .container 了解其内部浮动列的结束位置以及包含列的位置 */
}

.left_column {
	float:left;
}

.right_column {
    float:right;
}

/*
	News-Block-Styles
*/

#image_frame {
	border:1px solid #b5b5b5;
	background-color:#d2d2d2;
	padding:5px;
	float:left;
}

#image_frame img {
	border:1px solid #b5b5b5;
}

#articles_frame {
    float:left;
    width:250px;
    height:250px;
    margin-left: 10px;
    border-left: 1px solid gray;
    border-right:1px solid gray;
}

#search_frame {
	float:left;
	width:250px;
	margin-left:10px;
}

/*
	Review-Item-Home-Styles
*/
#reviews_page {
	width:600px;
	padding-right:10px;
    border-right:1px solid #dbdbdb;
}
.review_item {
	border-top:1px solid #dbdbdb;
	margin-bottom:10px;
	position:relative;
	padding:2px 3px 1px 3px;
	background:#FFFFFF;
    width:600px;
    overflow:hidden;
}

.review_item .left_fields { float:left; margin-right:8px;}
.review_item .vote_fields { margin-top:5px;}
.review_item .left_fields img { float:left; margin-top:10px;}
.review_item .central_fields { float:left;}
.review_item .right_fields { float:right; overflow:hidden; width:100px;}
.review_item .right_fields img  {display:block; clear:both;}

.info_item .clues {
    margin-left: 40px;
}
\
/*
	Info-Item-Home-Styles
*/

#info_items_page {
	width:600px;
	padding-right:10px;
    border-right:1px solid #dbdbdb;
}
.info_item {
	border-top:1px solid #dbdbdb;
	margin-bottom:10px;
	position:relative;
	padding:2px 3px 1px 3px;
	background:#FFFFFF;
    min-height: 120px;
    width:600px;
}

.info_item h3 {
	color:#000000;
}

.info_item .interaction_fields { float:right; margin-left:15px; margin-right:5px;}
.info_item .interaction_fields .thumbnail {display:block;}
.info_item .interaction_fields a { margin-right: 5px;}

.info_item .clues {
    margin-left: 40px;
}

.info_item .truncated_content {
    margin-left: 40px;
}


/*
	Vote-Fields-Styles
*/

.vote_fields {
	float:left;
	text-align:center;
	min-width:30px;
}
.vote_fields .vote_button { display:block; }
.vote_fields .vote_button.up { background: url(/images/vote_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up_voted { background: url(/images/voted_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up:hover { background: url(/images/voted_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down { background: url(/images/vote_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down_voted { background: url(/images/voted_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down:hover { background: url(/images/voted_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields span.votes {font-size:18px; font-family:"Comic Sans MS", cursive;}

/*
	Control-Panel-Styles
*/

#control_panel {
	width:300px;
	background:#FFFFFF;
	padding-left:10px;
}

#control_panel .sub_panel {
    padding-bottom: 5px;
    margin-bottom: 5px;
	border-top:1px solid #dbdbdb;
}

/*
	Add-Foods-Watch-List
*/
#control_panel .token-input-list-facebook
{
    width:200px;
}
#control_panel div.token-input-dropdown-facebook
{
    width:200px;
}

#foods_buzz h4 {
	display:inline-block;
	padding-right: 5px;
	color:#000000;
}

#foods_buzz h5 {
	display:inline-block;
	padding-right: 1px;
}
