@charset "utf-8";
/* CSS Document */

.two_columns_container {
	margin-bottom:20px;
    margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */
	overflow: hidden; /* 此声明可使 .container 了解其内部浮动列的结束位置以及包含列的位置 */
}

.left_column {
	float:left;
}

.right_column {
    float:right;
}

/*
	News-Block-Styles
*/

#news_block {clear: both;
    z-index: 100;}

.image_frame {
	border:1px solid #b5b5b5;
	background-color:#d2d2d2;
	padding:5px;
    margin-top: 10px;
	float:left;
}

#articles_frame {
    float:left;
    width:350px;
    height:250px;
    border-right:1px solid gray;
    line-height: 20px;
}

#search_frame {
	float:left;
	width:250px;
	margin-left:10px;
     margin-top: 10px;
}

ul#actions_menu {
    margin-left:20px;
    margin-bottom:5px;
}

/*
	InfoItem-Home-Styles
*/
#pagination {
	width:600px;
    padding-left:10px;
	padding-right:10px;
    border-right:1px solid #dbdbdb;
}

.item {
	border-top:1px solid #dbdbdb;
	margin-bottom:10px;
	position:relative;
	padding:2px 3px 1px 3px;
	background:#FFFFFF;
    overflow:hidden;
}

.item.info { width:600px; }
.item.info .left_fields { float:left; margin-right:8px;}
.item.info .vote_fields { margin-top:5px;}
.item.info .left_fields img { float:left; margin-top:10px;}
.item.info .central_fields { float:left; width:350px}
.item.info .right_fields { float:right; overflow:hidden; width:150px;}
.item.info .right_fields span, .item.info .right_fields div, .item.info .right_fields p  {float:right;display:block; clear:both;}

/* for ribbons */
.item.info .ribbon {
	position:absolute;
	top:-3px;
	right:-3px;
}

/*
	Good-Bad-Items-Styles
*/

#good_items {width:480px;}
#bad_items {width:480px;}
.item.info.short { width:450px; }
.item.info.short .central_fields { float:left; width:300px}

h2.bad, h3.bad, h3.bad a {color: black;}

/*
	Vote-Fields-Styles
*/

.vote_fields {
	float:left;
	text-align:center;
	min-width:30px;
}
.vote_fields .vote_button { display:block; }
.vote_fields .vote_button.up { background: url(/images/vote_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up_voted { background: url(/images/voted_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up:hover { background: url(/images/voted_up_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down { background: url(/images/vote_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down_voted { background: url(/images/voted_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down:hover { background: url(/images/voted_down_button.png) center no-repeat; text-indent:-9999px;}
.vote_fields span.votes {font-size:18px; font-family:"Comic Sans MS", cursive;}

/*
	Control-Panel-Styles
*/

#control_panel {
	width:300px;
	background:#FFFFFF;
	padding-left:10px;
    padding-right:20px;
}

#control_panel .sub_panel {
    padding-bottom: 5px;
    margin-bottom: 5px;
	border-top:1px solid #dbdbdb;
}

/*
	Add-Foods-Watch-List
*/
#control_panel ul.token-input-list-facebook
{
    width:200px;
}
#control_panel div.token-input-dropdown-facebook
{
    width:200px;
}

#foods_buzz h4 {
	display:inline-block;
	padding-right: 5px;
	color:#000000;
}

#foods_buzz h5 {
	display:inline-block;
	padding-right: 1px;
}
