@charset "utf-8";
/* CSS Document */

/*#map_container {*/
    /*width:200px;*/
    /*height:200px;*/
    /*border:1px solid gray;*/
/*}*/

/*.profile_address_map {*/
    /*display:none;*/
/*}*/

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }

.map_indicator { background-repeat:no-repeat; width:16px; height:16px;}
.map_indicator span { display: none;}
.map_indicator.checking { background-image:url("/images/loading.gif"); }
.map_indicator.valid { background-image:url("/images/correct_icon.gif"); }
.map_indicator.invalid { background-image:url("/images/wrong_icon.gif"); }