<% title t("groups.all") %>
 <% Group.all.each do |group| %>
    <p><%= link_to group.name, group %></p>
<% end %>

<% if current_user %>
    <div class="nav_links">
        <%= link_to t("groups.edit_joined_gorup"), current_user, :class => "button"  %>
    </div>
<% end %>

