<% desire.comments.desc(:created_at).limit(3).sort{|x, y| x.created_at <=> y.created_at}.each do |comment| %>
    <div class="listed_info ml10 mr10 pt5 pb5">
        <%= link_to image_tag(comment.user.get_avatar(:thumb, false), width: 22, height: 22), comment.user %>
        <span class="trivial f12 tight trivial"><%= link_to comment.user.login_name, comment.user %></span>
        <span class="trivial f12 tight ml5 "><%= truncate_content comment.content, 20 %></span>
    </div>
<% end %>

