<% title t("desires.desire"), false %>

<% if current_user_has_permission? :normal_user %>
    <%= link_to "+添加馋人的东西", new_desire_path, class: "desire_dialog_btn" %>
    <div id="desire_dialog" class="display_none">
        <%= render "desires/desire_fields", desire: Desire.new %>
    </div>
<% end %>

<div class="grid_12 to_left to_right">
    <%= render "shared/waterfall", :path => more_desires_path, :waterfall_partial => "desires/desire_waterfall", :columns_count => 4, :columns_width => 230, tag: params[:tag] %>
</div>

