<div class="block round grid100">
  <%= link_to image_tag(user.get_avatar, :border => 0), user %><br/>
  <span class="center"><%= link_to user.screen_name, user %></span><br/>
  <%= render "shared/follow_field", :target => user %>
</div>