<% title "美食达人", false %>

<h2 class="trivial mt10">美食达人</h2>

<div class="grid_12 clearfix">
  <% @masters.each do |master| %>
    <%= render "users/user", user: master %>
  <% end %>
</div>

<div class="mt20 grid_12 clearfix">
    <h3 class="trivial">更多活跃用户</h3>
    <% @hard_workers.each do |user| %>
        <div class="fl clearfix mt10 mr10">
            <%= link_to image_tag("grey.gif", class: "lazy", "data-original" => user.get_avatar(:thumb, false), width: 48, height: 48, title: user.login_name, alt: user.login_name), user %><br/>
        </div>
    <% end %>
</div>

