<p>
    <%= @user.login_name %>
    <% if user_can_be_blocked?(@user) %>
        <%= link_to t("users.block"), block_user_path(@user), :method => :put, :class => "button" %>
    <% elsif user_can_be_unlocked?(@user) %>
        <%= link_to t("users.unlock"), unlock_user_path(@user), :method => :put, :class => "button" %>
    <% end %>
</p>