<div>
    <%= @user.screen_name %><br/>
    <%= image_tag @user.get_avatar, :class => "avatar" %><br/>
    <%= @user.profile.biography %><br/>
    <%= render "relationships/follow_field", :target => @user %>
</div>
