<div id="catalogs">
    <span class="cat first block round"><%= link_to t("catalogs.all"), products_path %></span>
    <% first_catalogs(catalogs).each do |first_catalog| %>
        <span class="nav_menu">
            <span class="cat first block round"><%= link_to first_catalog.name, products_path(:action => "index", :catalog => first_catalog.name) %></span>
            <ul>
                <%= nested_catalogs first_catalog.children.arrange %>
            </ul>
        </span>
    <% end %>
</div>