<div id="map_address">
    <%= hidden_field_tag "hidden_point_lng", address.point_lng, {:class => "map_point_lng"} %>
    <%= hidden_field_tag "hidden_point_lng", address.point_lat, {:class => "map_point_lat"} %>
    <%= hidden_field_tag "hidden_city", address.city.name, {:class => "map_city"} %>
    <%= hidden_field_tag "hidden_detail", address.detail, {:class => "map_detail"} %>
    <div id="map_container"></div>
</div>