<%= hidden_field_tag "place_latitude", location.latitude %>
<%= hidden_field_tag "place_longitude", location.longitude %>
<div id="map_canvas" class="center" style="width: 210px; height: 210px"></div>
<!--TODO-->
<!--http://192.168.75.131:3000-->
<!--ABQIAAAAzu7CXt92NZgriHar1AhtRRSA03hF8ZXA_s_TIl9cAo_J0511axR3aE91-8weKsRTZW1rAFETon6tVA-->
<!--http://meishikezhan.com-->
<!--ABQIAAAAzu7CXt92NZgriHar1AhtRRRYKk8QssvL90kzgRojyloQR74yFBTTZcRrb7pONl7QJYYctP61BODtBQ-->
<script src="//maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;hl=zh-CN&amp;key=ABQIAAAAzu7CXt92NZgriHar1AhtRRSA03hF8ZXA_s_TIl9cAo_J0511axR3aE91-8weKsRTZW1rAFETon6tVA"
        type="text/javascript"></script>
<script type="text/javascript">
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map_canvas"));
    var latitude = $("#place_latitude").val();
    var longitude = $("#place_longitude").val();
    map.setCenter(new GLatLng(latitude, longitude), 15);

    // Add a marker to the map
    var point = new GLatLng(latitude, longitude);
    map.addOverlay(new GMarker(point));
    map.setUIToDefault();
  }

</script>