<div id="actions_panel" class="panel">
    <b><%= t("control_panel.actions") %></b><br/>
    <%= link_to t("reviews.new"), new_review_path, :class => "button" %>
    <%= link_to t("tips.new"), new_tip_path, :class => "button" %>
    <%= link_to t("vendors.browse"), vendors_path, :class => "button" %>
</div>
