<% if current_user && current_user.profile.show_collected_tips_panel %>
    <div id="collected_tips_panel" class="panel">
        <b><%= t("control_panel.collected_tips") %></b>
        <%= link_to image_tag("close_x.png", :border => 0), toggle_profile_index_path(:field => :show_collected_tips_panel), :method => :put, :remote => true, :class => "close_panel_link", :title => "hide_link"  %>
        <br/>
        <% @collected_tips.each do |tip| %>
             <%= link_to tip.title, tip, 'data-content' => simple_format(word_wrap(tip.content, 40)), :class => "tip" %><br/>
        <% end %>
    </div>
<% end %>