<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame">
            <%= content_tag :span, "美食标签：", class: "trivial f14" %><br/>
            <% @desired_tags.each do |tag, array| %>
                <%= link_to tag, desires_path(tag: tag), class: "tag" %>
            <% end %>
        </div>
    </div>
    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire %>
    <% end %>
</div>

<nav id="page_nav">
    <%= link_to "", 'http://' + request.host_with_port + "/more_desires/#{@current_mode}/2" %>
</nav>