<div class="hint_box fl">
  <%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/#{pic}",  width: (sep == "sep_6" ? 150 : 180), height:150, class: "lazy #{sep}") + content_tag(:span, primary_tag, class: "fix_hint b_white", style: "text-align:center;"), desires_path(tag: primary_tag) %>
</div>