<div id="s3slider">
   <ul id="s3sliderContent">
     <% articles.each do |article| %>
        <li class="s3sliderImage">
            <%= link_to(get_image_of_item(article, 0, 320, 240) , article)  %>
            <span><h3><%= article.title %></h3></span>
        </li>
     <% end %>
   </ul>
</div>