<% home_page %>
<% meta_tag t("site.introduction") %>

<%= render "shared/catalogs", :catalogs => @catalogs %>

<div id="recommended_products" class="block round">
    <h2><%= t("home.recommended_products") %></h2>
    <% @recommended_products.each do |product| %>
        <div class="small_product">
            <%= render "products/small_product", :product => product %>
        </div>
    <% end %>
</div>


<div id="hot_topics">
    <% @hot_topics.each do |topic| %>
        <%= render "topics/large_topic", :topic => topic %>
    <% end %>
</div>









