<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="banner grid_12"><%= image_tag "banner1.jpg", width:960, height:200 %></div>

<h1>今日美食达人</h1>
<div class="clearfix">
    <% @daily_stars.each do |master| %>
        <%= render "users/user", user: master %>
    <% end %>
</div>

<h3>更多美食达人</h3>
<div>
    <% @more_masters.each do |master| %>
        <%= image_tag master.get_avatar, width:50, height:50, class: "more_head_img" %>
    <% end %>
</div>

<% @hot_topics.each do |topic| %>
    <div class="topic_block grid_12 fl mt20">
        <%= raw topic.content %>
    </div>
<% end %>









