<% home_page %>
<% meta_tag t("site.introduction") %>

<div id="hot_topics">
    <% @hot_topics.each do |topic| %>
        <%= render "topics/large_topic", :topic => topic %>
    <% end %>
</div>









