<%
  @title = @page.title
  @title += ' (changes)' if @show_diff
  @show_footer = true
%>

<div id="revision">
  <% if @show_diff %>
    <p class="show_diff">
        Showing changes from revision #<%= @page.revisions.size - 1 %> to #<%= @page.revisions.size %>:
        <ins class="diffins">Added</ins> | <del class="diffdel">Removed</del> | <del class="diffmod">Chan</del><ins class="diffmod">ged</ins>
    </p>
    <%= @renderer.display_diff %>
  <% else %>
      <%= @page.content %>
  <% end %>
</div>


