<% title t("albums.albums"), false %>

<div class="grid_9 to_left">
    <%= paginate @albums %>
    <%= render @albums %>
</div>

<div class="grid_3 to_right">
  <div class="box_shadow p5">
      <% if current_user_has_permission? :normal_user %>
        <%= link_to "", new_album_path, class: "add_album_btn" %>
        <hr/>
      <% end %>
  </div>
</div>

