<% title t("albums.new_album") %>

<div class="block round b_berry_azure p5" style="width: 450px">
    <span>你可以随自己喜欢创建各种拼盘，然后把喜欢的图片收集进来。</span><br/>
    <span>如果有人喜欢你的拼盘，还可以获得积分哦</span><%= link_to "积分规则", score_intros_path, class: "ml5" %>
</div>

<%= render 'form' %>

