<% title t("albums.new_album") %>

<div class="introduction">
    <span>你可以随意创建各种拼盘，然后把中意的图片收集进来。</span><br/>
    <span>如果有人喜欢你的拼盘，还可以获得积分哦</span><%= link_to "积分规则", score_intros_path, class: "ml5" %>
</div>

<%= render 'form' %>

