<% if @new_cover_url %>
    jQuery.facebox( '<span><%= t("notices.album_cover_picked") %></span>');
    $("img.cover_image").attr("src","<%= @new_cover_url %>");


    setTimeout("after_delay()", parseInt("<%= REVIEW_CREATED_DELAY %>"));

    function after_delay()
    {
        jQuery(document).trigger('close.facebox');
    }
<% end %>

