<%= form_for(@vendor) do |f| %>
    <%= render "vendors/basic_form", :vendor => @vendor, :f => f %>

    <div class="actions">
        <%= f.submit t("general.submit"), :class => "button" %>
    </div>
<% end %>
