<div id="<%= vendor.id.to_s %>" class="block">
    <%= link_to vendor.name, vendor %><span class="trivial">(<%= vendor.mall.name %>)</span><br/>
    <div class="actions">
        <%= render "relationships/follow_field", :target => vendor %>
    </div>
</div>