<div class="item">
    <h3><%= link_to vendor.name, vendor %>(<%= vendor.reviews.size %>)</h3>
    <% if vendor.address %>
        <%= vendor.address.city.name %>: <%= vendor.address.detail %>
    <% end %>
</div>