<div class="block round">
    <p>
        <%= link_to vendor.full_name, vendor %><br/>
        <%= link_to "#{t("vendors.new_review")}(#{vendor.reviews.size.to_s})", new_review_path(:vendor_id => vendor.id) %>

    </p>
    <p>
        <%= t("vendors.recent_reviews") %>
        <% vendor.reviews.limit(VENDOR_RECENT_REVIEWS).each do |review| %>
            <%= link_to review.title, review %>
        <% end %>
    </p>
</div>