<div id="<%= vendor.id.to_s %>" class="block round">

  <div class="left_column">
    <%= link_to vendor.name, vendor %><br/>
    <div class="actions">
        <%= render "shared/follow_field", :target => vendor %>
    </div>
  </div>
</div>