<div class="content_block_inside">
    <%= link_to t("admin_control.articles"), admin_articles_path %> <br/>
    <%= link_to t("admin_control.badges"), admin_badges_path %><br/>
    <%= link_to t("admin_control.vendors"), admin_vendors_path %><br/>
    <%= link_to t("admin_control.users"), admin_users_path %><br/>
</div>