<div class="fl">
    <% if current_user_has_permission?(:administrator) && item && (item.respond_to? :priority) %>
        <%= link_to "<", administrator_base_tune_path(:id => item.id, :type => item.class.name, :delta => 1), :method => :put, :remote => true,
                            :class => "btn btn_positive lighter_touch" %><br/>
        <b class="tune_value <%= item.id.to_s %> trivial f20"><%= item.priority %></b><br/>
        <%= link_to ">", administrator_base_tune_path(:id => item.id, :type => item.class.name, :delta => -1), :method => :put, :remote => true,
                                :class => "btn btn_negative lighter_touch" %>
    <% end %>
</div>