<div id="masonry_container" class="clearfix">
    <% @feeds.each do |feed| %>
        <%= render "feeds/feed_item", feed: feed %>
    <% end %>

    <nav id="page_nav">
        <%= link_to "", 'http://' + request.host_with_port + "/personal/more_feeds/2" %>
    </nav>
</div>

<%= link_to image_tag("back_to_top.png", :border => 0, :alt => t("general.back_to_top")), "#", :id => "back_to_top", class: "display_none" %>
