<div id="masonry_container" class="clearfix">
    <% if current_user.relationships.empty? %>
        <span class="trivial">你还没有关注任何人，</span><%= link_to "赶快去看看有哪些吃货吧", masters_path %>
    <% else %>
        <% @feeds.each do |feed| %>
            <%= render "feeds/feed_item", feed: feed %>
        <% end %>
    <% end %>

    <nav id="page_nav">
        <%= link_to "", 'http://' + request.host_with_port + "/personal/more_feeds/2" %>
    </nav>
</div>

<%= link_to t("general.back_to_top"), "#", :id => "back_to_top", class: "btn btn_back_to_top hide" %>
