<% if current_user %>
    <div id="fans_panel" class="panel clearfix">
        <h3><%= t("user_basic.fans") %></h3>
        <% current_user.followers.each do |id| %>
            <% user = User.find(id) %>
            <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> user.get_avatar(:thumb, false), width: 24, height: 24), user, class: "more_head_img" %>
        <% end %>
    </div>
<% end %>