<div id="follows_panel" class="panel clearfix">
    <h3 class="trivial"><%= t_with_colon("user_basic.following_users") %></h3>
    <div class="clearfix">
        <% user.following_users.each do |idol| %>
            <%= link_to image_tag(idol.get_avatar(:thumb, false), class: "more_head_img", width: 24, height: 24, title: idol.login_name), idol %>
        <% end %>
    </div>
    <!--<= link_to t("general.more"), "" %>-->
    <hr/>
    <h3 class="trivial"><%= t_with_colon("user_basic.fans") %></h3>
    <% followers = User.any_in(_id: user.followers) %>
    <% followers.each do |fan| %>
        <%= link_to image_tag(fan.get_avatar(:thumb, false), class: "more_head_img",  width: 24, height: 24, title: fan.login_name), fan%>
    <% end %>
</div>
