<% liked_albums = current_user.liked_albums(7) %>

<% unless liked_albums.empty? %>
    <div id="liked_albums_panel" class="panel clearfix">
        <%= link_to content_tag(:b, t("user_basic.liked_albums"), class: "f14") + content_tag(:span, "（全部）"), "/personal/favorites?mode=albums" %><br/>
        <% liked_albums.each do |album| %>
            <%= render "albums/related_album", album: album %>
        <% end %>
    </div>
<% end %>