<% liked_recipes = current_user.liked_recipes(7) %>

<% unless liked_recipes.empty? %>
    <div id="liked_recipes_panel" class="panel clearfix">
        <%= link_to content_tag(:b, t("user_basic.liked_recipes"), class: "f14") + content_tag(:span, "（全部）"), "/personal/favorites?mode=recipes" %><br/>
        <% liked_recipes.each do |recipe| %>
           <%= link_to recipe.name, recipe %><br/>
        <% end %>
    </div>
<% end %>