<div class="fl" style="width: 720px;">
    <div class="tab_control no_work">
        <div class="tabContainer ">
            <% @modes.each do |mode| %>
                <div class = "<%= mode == @current_mode ? "selected" : "unselected" %>">
                    <%= link_to t("personal.#{mode}_mode"), "/me?mode=#{mode}", "data-page" => ".#{mode}", class: "tab" %>
                </div>
            <% end %>
        </div>
        <div class="tabContent block">
            <%= render "#{@current_mode}_mode" %>
        </div>
    </div>
</div>

<div class="grid_3">
    <%= render "right_panels" %>
</div>


