<% meta_tag t("site.introduction") %>
<div class="grid_9 fl">
    <div>
        <%= render "shared/review_fields", :review => Review.new %>
    </div>

    <div class = "mytab">
        <div class="tabContainer ">
            <div class = "fl selected ">
                <a class="tab font_color_selected" href="/personal/all_feeds" data-page = '/personal/all_feeds' >
                <%= t("feeds.all") %>
                </a>
            </div>
            <div class = "fl unselected ">
                <a class="tab  font_color_unselected" href="/personal/my_feeds"  data-page = '/personal/my_feeds' >
                <%= t("feeds.my") %>
                </a>
            </div>
        </div>

        <div id="tabContent" class ="block round">
            <div id="contentHolder">
                <!-- The AJAX fetched content goes here -->
            </div>
        </div>
    </div>

	<div class="clear"></div>
</div>

<div class="grid_3 fl ">
    <div id="control_panel">
        <%= render "user_panel" %>
    </div> <!--end of control_panel -->
</div>

