/*TODO*/
/*merge to application.css*/

/*colors*/
$blue: #386fb2;
$azure: #c4e2fe;

$white: #FFFFFF;
$rice_white: #f9f6f1;

$orange: #FF8040;
$pink: #FF80C0;

$red: #FF0000;

$black: #000000;
$ink_black: #333230;

$yellow: #FFFF00;

$gray: #b8afb2;
$font_gray: #666666;
$light_gray: #ebecee;
$shadow_gray: #F7F7F7;
$background_gray: #f2f0f0;
$trivial_gray: #999999;

/*fonts*/
$general_font: 'Helvetica Neue',Helvetica,Arial,Sans-serif;

