/*TODO*/
/*merge to application.css*/

/*footer*/
$green: #346633;
/*button*/
$blue: #386fb2;
$azure: #EDEFF4;
/*body*/
$background_gray: #F2F0F0;
$font_black: #333230;
$general_font: 'Helvetica Neue',Helvetica,Arial,Sans-serif;

