/*TODO*/
/*merge to application.css*/

/*colors*/
$blue: #386fb2;
$azure: #c4e2fe;
/*#90bab6;*/

$white: #FFFFFF;
$rice_white: #f9f6f1;

$orange: #FF811A;
$pink: #FF80C0;

$red: #FF0000;

$black: #000000;
$ink_black: #333230;

$yellow: #FFFF00;

$gray: #b8afb2;
$font_gray: #666666;
$light_gray: #b1c0bd;
$shadow_gray: #F7F7F7;
$background_gray: #f2f0f0;
$trivial_gray: #999999;

/*color wound*/
$wound_white: #ebede0;
$wound_gray: #cbc8b5;
$wound_black: #646067;
$wound_azure: #90bab6;
$wound_indigo: #b1c0bd;

$buttery_pink: #e5c6c1;
$buttery_gray: #e1d8d1;
$buttery_white: #efe8d5;
$buttery_yellow: #f5d67c;
$buttery_brown: #716356;

$berry_red: #7A2127;
$berry_pink: #CE5655;
$berry_gray: #D0C7AA;
$berry_green: #407D6E;
$berry_azure: #7Eb699;


/*fonts*/
$general_font: 'Helvetica Neue',Helvetica,Arial,Sans-serif;

