/*TODO*/
/*merge to application.css*/

/*footer*/
$green: #346633;
/*button*/
$blue: #386fb2;
$azure: #EDEFF4;
/*body*/
$background_gray: #F2F0F0;
$font_black: #333230;
$general_font: 'Helvetica Neue',Helvetica,Arial,Sans-serif;

$grid_1_width: 60px;
$grid_2_width: 140px;
$grid_3_width: 220px;
$grid_4_width: 300px;
$grid_5_width: 380px;
$grid_6_width: 460px;
$grid_7_width: 540px;
$grid_8_width: 620px;
$grid_9_width: 700px;
$grid_10_width: 780px;
$grid_11_width: 860px;
$grid_12_width: 940px;
