/*
*= require reset
*= require base
*= require_self
*= require fonts
*= require header
*= require silver_waterfall
*= require comment
*= require votes
*= require menu
*= require form
*= require products
*= require reviews
*= require catalogs
*= require search
*= require personal
*= require users
*= require pages
*= require tab_control
*= require recipes
*= require desires
*= require messages
*= require buttons
*= require isotope
*= require token-input-facebook
*= require facebox
*= require jquery.jgrowl
*= require fileuploader
*= require jquery.Jcrop
*/

@charset "utf-8";
@import "attributes";


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.grid_1 { width: 60px;}
.grid_2 { width: 140px;}
.grid_3 { width: 220px;}
.grid_4 { width: 300px;}
.grid_5 { width: 380px;}
.grid_6 { width: 460px;}
.grid_7 { width: 540px;}
.grid_8 { width: 620px;}
.grid_9 { width: 700px;}
.grid_10 { width: 780px;}
.grid_11 { width: 860px;}
.grid_12 { width: 940px;}

.container_12 {
    margin: 0 auto;
	overflow: hidden;
	position:relative;
}

.container_12 { width: 960px;}
/*
	Block Styles
*/

.block {
    position:relative;
    display:block;
    overflow:hidden;
    clear: both;
}

.block.square {
    border:1px solid #a3a09e;
    padding:10px;
}

.block.round {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border:1px solid #dbdbdb;
    background: $azure;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.box_shadow {
    background: none repeat scroll 0 0 $shadow_gray;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.hint_box {
    position: relative;

    img {vertical-align: bottom;}

    .fix_hint, .flex_hint, {
        position: absolute;
        width: 100%;
        opacity: 0.8;
        padding: 0 5px;
        /*by default*/
        bottom: 0px;
    }

    .top_right {
        right: 5px;
        top: 10px;
    }

    .fix_hint {
        display: block;
    }

    .flex_hint {
        display: none;
    }
}

/*
    Menu Styles
*/
ul.menu {
    padding:0;
    margin:0;
    overflow: hidden;
    list-style:none;
}

ul.menu li {
    float:left;
    display: inline;
    margin-right: 5px;
}

.p1 {padding: px;}
.p2 {padding: 2px;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}

.pt5 {padding-top: 5px;}

.m1 {margin: 1px;}
.m2 {margin: 2px;}
.m5 {margin: 5px;}
.m10 {margin: 10px;}

.mt2 {margin-top: 2px;}
.ml2 {margin-left: 2px;}
.mb2 {margin-bottom: 2px;}
.mr2 {margin-right: 2px;}

.mt5 {margin-top: 5px;}
.ml5 {margin-left: 5px;}
.mb5 {margin-bottom: 5px;}
.mr5 {margin-right: 5px;}

.mt10 {margin-top: 10px;}
.ml10 {margin-left: 10px;}
.mb10 {margin-bottom:10px;}
.mr10 {margin-right: 10px;}

.mt15 {margin-top: 15px;}
.ml15 {margin-left: 15px;}
.mb15 {margin-bottom: 15px;}
.mr15 {margin-right: 15px;}

.mt20 {margin-top:20px;}
.ml20 {margin-left: 20px;}
.mb20 {margin-bottom:20px;}
.mr20 {margin-right: 20px;}

.mt25 {margin-top: 25px;}

.mt30 {margin-top:30px;}
.ml30 {margin-left: 30px;}
.mb30 {margin-bottom:30px;}
.mr30 {margin-right: 30px;}

.ml60 {margin-left: 60px;}

.w50 {width: 50px;}

.red {color: $red;}
.white {color: $white;}
.orange {color: $orange;}

.b_black {background-color: $black;}
.b_gray {background-color: $gray;}
.b_white {background-color: $white;}
.b_azure {background-color: $azure;}

.lb {border-left: 1px solid;}
.rb {border-right: 1px solid;}

.center {margin: 0 auto; display: block; text-align: center;}
.middle {vertical-align: middle;}
.bottom {vertical-align: bottom;}

.clear { visibility: hidden; height: 0; clear: both; }

.overflow_hidden { overflow: hidden; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix{*zoom:1;}

.fl {float: left;}
.fr {float: right;}

.to_left { margin-left: 0;}
.to_right { margin-right: 0;}

.al {text-align: left;}
.ar {text-align: right;}
.ac {text-align: center;}

.full_w {width: 100%; overflow:hidden;}
.auto_w {width: auto;}
.auto_h {height: auto;}

.display_none {
    display: none;
}

.display_inline {
    display: inline;
}

.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.cursor {
    cursor: pointer;
}


/* Common stuff */

a.button, input.button {
    display: inline-block;
	background: $blue;
	padding: 0 2px;
	color: $white;
	text-decoration: none;
	border:1px solid #32312f;
	text-transform:uppercase;
    height: 24px;
}
a.button:hover, input.button:hover {
	background: darken($blue, 10%);
    cursor:pointer;
}

a.button.new_relationship {
    background: $blue;
}

a.button.new_relationship:hover {
    background: darken($blue, 10%);
}

a.button.cancel_relationship {
    background: $gray;
}

a.button.cancel_relationship:hover {
    background: darken($gray, 10%);
}

a.button.hide {
    display: none;
}

a.tag {
    display:inline-block;
    text-decoration: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
    border: 1px solid #333333;
    background-color: $azure;
    font-size: 12px;
    line-height: 16px;
}

a.tag:hover {
    color: white;
    background-color: $blue;
    cursor:pointer;
}

.trivial {
    color: $trivial_gray;
}

.img_frame {
   padding:1px;
   border:1px solid #021a40;
   background-color:$white;
}

.clear {
    clear: both;
}

html, body, #main { height: 100%; }
body #main { height: auto; padding-bottom: 260px;}

#content_area { min-height: 600px;  }

.lighter_touch:hover {opacity: 0.7; cursor: pointer;}

.field {margin: 5px 0;}
.label {margin-right: 5px;
        vertical-align: top;}

.more_info_container {
    position: relative;
}

.more_info_container .more_info {
    width: 200px;
    height: atuo;
    position: absolute;
    top: 0px;
    left: 0px;
}

/*
	Footer-Styles
*/

/*
    for bottom-footer
    the padding-bottom of container and margin, height of footer must be the same
*/

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 130px;
    margin-top: -130px;
    overflow:hidden;
    color:$ink_black;
    background-color:$light_gray;
    background: url("footer_bg.png") repeat-x;
}

#footer a {
	text-decoration:underline;
}


