/*
*= require reset
*= require base
*= require_self
*= require fonts
*= require header
*= require waterfall
*= require comment
*= require items
*= require menu
*= require form
*= require products
*= require topics
*= require reviews
*= require catalogs
*= require search
*= require personal
*= require users
*= require banner
*= require tab_control
*= require token-input-facebook
*= require facebox
*= require jquery.jgrowl
*= require slider
*= require recipes
*= require fileuploader
*/

@charset "utf-8";
@import "attributes";


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.grid_1 { width: 60px;}
.grid_2 { width: 140px;}
.grid_3 { width: 220px;}
.grid_4 { width: 300px;}
.grid_5 { width: 380px;}
.grid_6 { width: 460px;}
.grid_7 { width: 540px;}
.grid_8 { width: 620px;}
.grid_9 { width: 700px;}
.grid_10 { width: 780px;}
.grid_11 { width: 860px;}
.grid_12 { width: 940px;}

.container_12 {
    margin: 0 auto;
	overflow: hidden;
	position:relative;
}

.container_12 { width: 960px;}
/*
	Block Styles
*/

.block {
    position:relative;
    display:block;
    overflow:hidden;
    clear: both;
}

.block.square {
    border:1px solid #a3a09e;
    padding:10px;
}

.block.round {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #dbdbdb;
    background: $azure;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.box_shadow {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

/*
    Menu Styles
*/
ul.menu {
    padding:0;
    margin:0;
    overflow: hidden;
    list-style:none;
}

ul.menu li {
    float:left;
    display: inline;
    margin-right: 5px;
}

.p5 {padding: 5px;}
.p10 {padding: 10px;}

.m5 {margin: 5px;}

.mt5 {margin-top: 5px;}
.ml5 {margin-left: 5px;}
.mb5 {margin-bottom: 5px;}
.mr5 {margin-right: 5px;}

.mt10 {margin-top: 10px;}
.ml10 {margin-left: 10px;}
.mb10 {margin-bottom:10px;}
.mr10 {margin-right: 10px;}

.mt20 {margin-top:20px;}
.ml20 {margin-left: 20px;}
.mb20 {margin-bottom:20px;}
.mr20 {margin-right: 20px;}

.mt30 {margin-top:30px;}
.ml30 {margin-left: 30px;}
.mb30 {margin-bottom:30px;}
.mr30 {margin-right: 30px;}

.ml60 {margin-left: 60px;}

.w50 {width: 50px;}

.red {color: $red;}
.white {color: $white;}

.center {margin: 0 auto; display: block;}

.clear { visibility: hidden; height: 0; clear: both; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix{*zoom:1;}

.fl {float: left;}
.fr {float: right;}

.to_left { margin-left: 0;}
.to_right { margin-right: 0;}

.al {text-align: left;}
.ar {text-align: right;}
.ac {text-align: center;}

.hor_stretch {width:100%; overflow:hidden;}

.display_none {
    display: none;
}

.display_inline {
    display: inline;
}

.display_block {
    display: block;
}

.cursor {
    cursor: pointer;
}


/* Common stuff */

a.button, input.button {
    display: inline-block;
	background: $blue;
	padding: 0 2px;
	color: $white;
	text-decoration: none;
	border:1px solid #32312f;
	text-transform:uppercase;
    height: 24px;
    margin: 2px 0;
}
a.button:hover, input.button:hover {
	background: darken($blue, 10%);
    cursor:pointer;
}

a.button.new_relationship {
    background: $green;
}

a.button.new_relationship:hover {
    background: darken($green, 10%);
}

a.button.cancel_relationship {
    background: $gray;
}

a.button.cancel_relationship:hover {
    background: darken($gray, 10%);
}

a.button.hide {
    display: none;
}

a.tag {
    text-decoration: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #333333;
    background-color: $azure;
}

a.tag:hover {
    color: white;
    background-color: $green;
    cursor:pointer;
}

.trivial {
    color: $trivial_gray;
}

.img_frame {
    display: inline-block;
    border: 1px solid $trivial_gray;
    background: $white;
    padding: 2px;
}

.clear {
    clear: both;
}

h1.title {
    text-align: center;
}

html, body, #main { height: 100%; }
body #main { height: auto; padding-bottom: 20em;}

#content_area { min-height: 600px;  }

.lighter_touch:hover {opacity: 0.7;}

/*
	Footer-Styles
*/

/*
    for bottom-footer
    the padding-bottom of container and margin, height of footer must be the same
*/

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -10em;
    overflow:hidden;
    color:$white;
    background-color:$green;
}

#footer a {
	color:$white;
	text-decoration:underline;
}

.image {
    position: relative;
    margin-right: 10px;
    .del_img_link {
        position: absolute;
        right: 0;
        top: 10px;
    }
}