/*TODO*/
/*merge to application.css*/

/*
	Block Styles
*/

.block {
    position:relative;
    display:block;
    clear: both;
}

.block.fix {
    overflow:hidden;
}

.block.square {
    border:1px solid #a3a09e;
    padding:10px;
}

.block.round {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #dbdbdb;
    background: white;
    margin-bottom:10px;
    padding:10px;
}

/*
    Menu Styles
*/
ul.menu {
    padding:0;
    margin:0;
    overflow: hidden;
    list-style:none;
}

ul.menu li {
    float:left;
    display: inline;
    margin-right: 5px;
}

/*
    Waterfall Styles
*/

.waterfall {
    text-align: center;
    width: auto;
    overflow: hidden;
    padding: 15px 10px;
    margin-bottom: 10px;
    background: white;
    border-bottom:0.5px solid gray;
    border-right:0.5px solid gray;
}

.m5 {margin: 5px;}
.p5 {padding: 5px;}

.mr20 {margin-right: 20px;}

.grid100 {width: 100px;}
.grid682 {width: 682px;}
.grid760 {width: 760px;}
.grid620 {width: 620px;}

.f {min-width: 960px;}

.skinny {
    width: 960px;
	margin:0 auto;
	position:relative;
}

.red {color: red;}

.center {text-align: center;}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix{*zoom:1;}

.fl {float: left;}
.fr {float: right;}

.al {text-align: left;}
.ar {text-align: right;}
.ac {text-align: center;}

.hor_stretch {width:100%; overflow:hidden;}


