@import "attributes";

b {font-weight: bold;}

/*h1, h2, h3, h4, h5 {font-weight: bold;}*/

h1 { font-size:18px; }
h2 { font-size:16px; }
h3 { font-size:15px; }
h4 { font-size:14px; }
h5 { font-size:13px; }

small {
	color:#595856;
	font-weight:bold;
	font-size:11px;
	display:inline-block;
    margin-bottom: 5px;
}

a {
	color: $berry_green;
	text-decoration:none;
}
a:hover { text-decoration:underline; }

p { margin: 3px 0;}

hr { color: $trivial_gray; }

body {
	margin:0px;
	padding:0px;
	line-height:22px;
    background-color: white;
    color: $ink_black;
    font-size:13px;
    font-family: $general_font;
}

blockquote {
    display:inline;
	margin: 0;
    padding: 0;}
blockquote span.quoted:before {
	content: '"'; color: $trivial_gray; font-size: 2em; margin-right: 5px; }
blockquote span.quoted:after {
	content: '"'; color: $trivial_gray; font-size: 2em; margin-left: 5px;}
blockquote span.quoted.blocked {
	text-decoration: line-through; }

textarea {resize: none;}
