@import "attributes";

a.button, input.button {
    display: inline-block;
	background-color: $berry_red;
	padding: 0 2px;
	color: white;
	text-decoration: none;
	border:1px solid #32312f;;
	text-transform:uppercase;
    height: 24px;
}
a.button:hover, input.button:hover {
    color: white;
	opacity: 0.7;
	cursor: pointer;
}

input.btn_submit_comment {
    display: inline-block;
	border: 0;
    width:80px; height: 26px;
    background-image: url('buttons/submit_comment.png');
    background-repeat:no-repeat;
    background-position:0 0;
    text-indent:-9999px;
}

input.btn_submit_comment:hover {
    cursor: pointer;
    background-position:0 -28px;
}

a.btn_register_now{
    float: left;
    width:102px;
    height:44px;
    margin: 11px 6px 11px 6px;
    background-image: url("buttons/register_now.png");
    background-repeat:no-repeat;
    text-indent:-9999px;
}

a.btn_register_now:hover{
    cursor: pointer;
    background-position:0px -46px;
}

input.btn_login{
    display: inline-block;
	border: 0;
    width:50px;
    height:26px;
    background-image: url("buttons/login.png");
    background-repeat:no-repeat;
    text-indent:-9999px;
}

input.btn_login:hover{
    cursor: pointer;
    background-position:0px -28px;
}

input.btn_register{
    display: inline-block;
	border: 0;
    width:50px;
    height:26px;
    background-image: url("buttons/register.png");
    background-repeat:no-repeat;
    text-indent:-9999px;
}

input.btn_register:hover{
    cursor: pointer;
    background-position:0px -28px;
}

/*General style here*/
input.btn {
    display: inline-block;
	border: 0;
    background-repeat:no-repeat;
    text-indent:-9999px;
}

input.btn:hover {
     cursor: pointer;
}

a.btn {
    float: left;
    background-repeat:no-repeat;
    text-indent:-9999px;
}

a.btn:hover {
     cursor: pointer;
}

.btn.submit_post {
    width:70px; height: 26px;
    background-image: url('buttons/submit_post.png');
}

.btn.submit_post:hover{
    background-position:0 -28px;
}

.btn.submit_update {
    width:70px; height: 26px;
    background-image: url('buttons/submit_update.png');
}

.btn.submit_update:hover{
    background-position:0 -28px;
}

a.btn.btn_delete{
    width:40px;
    height:26px;
    margin-right: 4px;
    background-image: url("buttons/delete.png");
}

a.btn.btn_delete:hover{
    background-position:0px -28px;
}

a.btn.btn_edit{
    width:40px;
    height:26px;
    margin-right: 4px;
    background-image: url("buttons/edit.png");
}

a.btn.btn_edit:hover{
    background-position:0px -28px;
}

a.btn.btn_edit{
    width:40px;
    height:26px;
    margin-right: 4px;
    background-image: url("buttons/edit.png");
}

a.btn.btn_edit:hover{
    background-position:0px -28px;
}

/*.want_do_btn{*/
 /*display: inline-block;*/
 /*width:41px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-404px -20px;*/
 /*text-indent: -9999px;*/
/*}*/

/*.want_do_btn:hover{*/
    /*background-position:-404px -52px;*/
/*}*/

/*.done_btn{*/
    /*display: inline-block;*/
    /*width:41px;*/
    /*height:25px;*/
    /*background-image: url(buttons.png);*/
    /*background-repeat:no-repeat;*/
    /*background-position:-448px -20px;*/
    /*text-indent: -9999px;*/
/*}*/

/*.done_btn:hover{*/
    /*background-position:-448px -52px;*/
/*}*/

.btn.btn_new_album{  display: inline-block;
    float: none;
    width:80px;
    height:26px;
    background-image: url('buttons/new_album.png');
}

.btn.btn_new_album:hover{
    background-position:0px -28px;
}

.btn.btn_new_recipe{  display: inline-block;
    float: none;
    width:80px;
    height:26px;
    background-image: url('buttons/new_recipe.png');
}

.btn.btn_new_recipe:hover{
    background-position:0px -28px;
}

.btn.btn_new_desire{  display: inline-block;
    width:120px;
    height:26px;
    background-image: url('buttons/new_desire.png');
}

.btn.btn_new_desire:hover{
    background-position:0px -28px;
}

.btn.btn_remove_from_album{
    display: block;
    float:none;
    width:80px;
    height:26px;
    background-image: url('buttons/remove_from_album.png');
}

.btn.btn_remove_from_album:hover{
    background-position:0px -28px;
}

.btn.btn_set_cover{
    display: block;
    float:none;
    width:80px;
    height:26px;
    background-image: url('buttons/set_cover.png');
}

.btn.btn_set_cover:hover{
    background-position:0px -28px;
}

/*.add_content_btn{ display: inline-block;*/
    /*width:61px;*/
    /*height:25px;*/
    /*background-image: url(buttons.png);*/
    /*background-repeat:no-repeat;*/
    /*background-position:-361px -310px;*/
    /*text-indent: -9999px;*/
/*}*/

/*.add_content_btn:hover{*/
    /*background-position:-361px -338px;*/
/*}*/

/*.add_review_btn{ display: inline-block;*/
    /*width:61px;*/
    /*height:25px;*/
    /*background-image: url(buttons.png);*/
    /*background-repeat:no-repeat;*/
    /*background-position:-425px -88px;*/
    /*text-indent: -9999px;*/
/*}*/

/*.add_review_btn:hover{*/
    /*background-position:-425px -114px;*/
/*}*/

.add_relationship_btn{display: inline-block;
 width:60px;
 height:26px;
 background-image: url("buttons/follow.png");
 background-repeat:no-repeat;
 background-position:0px 0px;
 text-indent: -9999px;
}

.add_relationship_btn:hover{
    background-position: 0px -28px;
}

.btn.btn_buy{
    width:80px;
    height:26px;
    background-image: url('buttons/buy.png');
}

.btn.btn_buy:hover{
    background-position: 0px -28px;
}

.cancel_relationship_btn{display: inline-block;
    width:120px;
    height:26px;
    background-image: url("buttons/follow.png");
    background-repeat:no-repeat;
    background-position:0px -56px;
    text-indent: -9999px;
}

.vote_button {display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/like.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-indent: -9999px;
}
.vote_button.to_like:hover {
    background-position:0px -28px;
}

.vote_button.liked {
    width: 75px;
    background-position:0px -56px;
}

.collect_btn{ display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/collect.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-indent: -9999px;
}

.collect_btn:hover{
    background-position:0px -28px;
}

.admire_btn { display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/admire.png");
    background-repeat:no-repeat;
    background-position: 0px 0px;
    text-indent: -9999px;
}

.admire_btn.to_admire:hover{
    background-position: 0px -28px;
}

.admire_btn.admired {
    width: 75px;
    background-position: 0px -56px;
}

.btn.btn_add_step{
    float: none;
    display: block;
    width:80px;
    height:26px;
    background-image: url('buttons/add_step.png');
}

.btn.btn_add_step:hover{
    background-position: 0px -28px;
}

.btn.btn_add_major_ingredient{
    float: none;
    display: block;
    width:80px;
    height:26px;
    background-image: url('buttons/add_major_ingredient.png');
}

.btn.btn_add_major_ingredient:hover{
    background-position: 0px -28px;
}


.btn.btn_add_minor_ingredient{
    float: none;
    display: block;
    width:80px;
    height:26px;
    background-image: url('buttons/add_monor_ingredient.png');
}

.btn.btn_add_minor_ingredient:hover{
    background-position: 0px -28px;
}


/*.delete_step_btn{display: inline-block;*/
 /*width:51px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-490px -257px;*/
 /*text-indent: -9999px;*/
/*}*/

/*.delete_step_btn:hover{display: inline-block;*/
 /*width:51px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-490px -283px;*/
 /*text-indent: -9999px;*/
/*}*/

.hide {
    display: none;
}

.delete_ingredients_btn{ display: inline-block;

 width:16px;
 height:16px;
 background-image: url(cancel.png);
 background-repeat:no-repeat;
 /*text-indent: -9999px;*/
}

.delete_steps_btn{ display: inline-block;

 width:16px;
 height:16px;
 background-image: url(close_x.png);
 background-repeat:no-repeat;
 /*text-indent: -9999px;*/
}

/*.add_major_btn:hover{*/
 /*background-position:-490px -229px;*/
/*}*/

/*.add_major_btn{*/
 /*display: inline-block;*/
 /*width:61px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-490px -200px;*/
 /*text-indent: -9999px;*/
 /*}*/


/*.add_minor_btn{*/
 /*display: inline-block;*/
 /*width:61px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-362px -257px;*/
 /*text-indent: -9999px;*/
/*}*/

/*.add_minor_btn:hover{*/
 /*background-position:-362px -282px;*/
 /*}*/
