@import "attributes";

/*buttons with no background images*/
a.button, input.button {
    display: inline-block;
	background-color: $berry_red;
	padding: 0 2px;
	color: white;
	text-decoration: none;
	border:1px solid #32312f;;
	text-transform:uppercase;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}
a.button:hover, input.button:hover {
    color: white;
	opacity: 0.7;
	cursor: pointer;
}

/*General style here*/
input.btn {
    display: block;
    border:0 none;
    background: url("buttons.png") 0 0 no-repeat;
    text-indent:-9999px;
    text-transform: capitalize;
}

input.btn:hover {
     cursor: pointer;
}

a.btn {
    display: block;
    border:0 none;
    background: url("buttons.png") 0 0 no-repeat;
    text-indent:-9999px;
    text-transform: capitalize;
}

a.btn:hover {
     cursor: pointer;
}

.btn.hide{
    display: none;
}

/*individiual styles*/

.btn.btn_register_now{
    width:100px;
    height:42px;
    background-position: -2px -2px;
    /*margin: 11px 6px 11px 6px;*/
}

.btn.btn_register_now:hover{
    background-position:-2px -48px;
}

.btn.btn_login{
    width:50px;
    height:26px;
    background-position: -52px -92px;
}

.btn.btn_login:hover{
    background-position: -52px -120px;
}

.btn.btn_register{
    width:50px;
    height:26px;
    background-position: -2px -92px;
}

.btn.btn_register:hover{
    background-position: -2px -120px;
}

.btn.btn_submit_post {
    width:70px; height: 26px;
    background-position: -104px -2px;
}

.btn.btn_submit_post:hover{
    background-position: -104px -30px;
}

.btn.btn_submit_update {
    width:70px; height: 26px;
    background-position: -104px -58px;
}

.btn.btn_submit_update:hover{
    background-position: -104px -86px;
}

.btn.btn_submit_comment {
    width:80px; height: 26px;
    background-position: -2px -148px;
}

.btn.btn_submit_comment:hover {
    background-position: -2px -176px;
}

a.btn.btn_delete{
    width:38px;
    height:24px;
    background-position: -130px -375px;
    margin-right: 4px;
}

a.btn.btn_delete:hover{
    background-position: -130px -403px;
}

a.btn.btn_edit{
    width:38px;
    height:24px;
    background-position: -88px -375px;
    margin-right: 4px;
}

a.btn.btn_edit:hover{
    background-position: -88px -403px;
}

.btn.btn_new_album{
    width:80px;
    height:26px;
    background-position: -2px -262px;
}

.btn.btn_new_album:hover{
    background-position: -2px -290px;
}

.btn.btn_new_recipe{
    width:80px;
    height:26px;
    background-position: -88px -148px;
}

.btn.btn_new_recipe:hover{
    background-position: -88px -176px;
}

.btn.btn_new_desire{
    width:120px;
    height:26px;
    background-position: -178px -2px;
}

.btn.btn_new_desire:hover{
    background-position: -178px -30px;
}

.btn.btn_remove_from_album{
    display: block;
    width:80px;
    height:26px;
    background-position: -2px -376px;
}

.btn.btn_remove_from_album:hover{
    background-position: -2px -404px;
}

.btn.btn_set_cover{
    display: block;
    width:80px;
    height:26px;
    background-position: -2px -320px;
}

.btn.btn_set_cover:hover{
    background-position: -2px -348px;
}


.btn.btn_add_relationship{
    width:60px;
    height:26px;
    background-position: -178px -285px;
}

.btn.btn_add_relationship:hover{
    background-position: -178px -313px;
}

.btn.btn_cancel_relationship {
    width:120px;
    height:26px;
    background-position: -178px -341px;
}

.btn.btn_buy{
    width:80px;
    height:26px;
    background-position: -2px -204px;
}

.btn.btn_buy:hover{
    background-position: -2px -232px;
}

.btn.btn_vote.to_like {
    width:60px;
    height:26px;
    background-position: -180px -200px;
}
.btn.btn_vote.to_like:hover {
    background-position: -180px -228px;
}

.btn.btn_vote.liked {
    width: 75px;
    height:26px;
    background-position: -180px -256px;
}

.btn.btn_collect{
    width:60px;
    height:26px;
    background-position: -178px -58px;
}

.btn.btn_collect:hover{
    background-position: -178px -86px;
}

.btn.btn_admire.to_admire {
    width:60px;
    height:26px;
    background-position: -178px -115px;
}

.btn.btn_admire.to_admire:hover{
    background-position: -178px -143px;
}

.btn.btn_admire.admired {
    width: 75px;
    height:26px;
    background-position: -178px -171px;
}

.btn.btn_add_step{
    width:55px;
    height:23px;
    background-position: -88px -312px;
}

.btn.btn_add_step:hover{
    background-position: -88px -338px;
}

.btn.btn_add_major_ingredient{
    width:55px;
    height:23px;
    background-position: -88px -204px;
}

.btn.btn_add_major_ingredient:hover{
    background-position: -88px -230px;
}


.btn.btn_add_minor_ingredient{
    width:55px;
    height:23px;
    background-position: -88px -256px;
}

.btn.btn_add_minor_ingredient:hover{
    background-position: -88px -282px;
}


.btn.btn_delete_x {
     width:12px;
     height:12px;
     background-position: -124px -116px;
     margin-left: 2px;
}

.btn.btn_close {
     width:16px;
     height:16px;
     background-position: -104px -116px;
}


.btn.btn_back_to_top {
    z-index: 100;
    width: 50px;
    height: 50px;
    background-position: -176px -370px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
}

.btn.btn_back_to_top:hover {
    opacity: 1;
}

.btn.btn_add_product {
    width: 48px;
    height: 18px;
    background-position: -322px -169px;
}

.btn.btn_add_recipe {
    width: 48px;
    height: 18px;
    background-position: -322px -189px;
}

.btn.btn_product_solution {
    width: 108px;
    height: 30px;
    background-position: -228px -372px;
}

.btn.btn_recipe_solution {
    width: 108px;
    height: 30px;
    background-position: -228px -406px;
}

.btn.btn_place_solution {
    width: 108px;
    height: 30px;
    opacity: 0.5;
    background-position: -228px -440px;
}

.btn.btn_place_solution:hover {
    cursor: default;
}

.btn.btn_search {
  width: 22px;
  height: 22px;
  background: url("buttons.png") -270px -114px no-repeat;
  padding: 0;
}

.btn.btn_positive {
    width: 60px;
    height: 24px;
    background-position: -262px -228px;
}

.btn.btn_positive.voted { background-position: -262px -257px; }

.btn.btn_negative {
    width: 60px;
    height: 24px;
    background-position: -328px -228px;
}

.btn.btn_negative.voted { background-position: -328px -257px; }

.btn.btn_ok {
    width: 38px;
    height: 24px;
    background-position: -284px -286px;
}

