a.btn_register{
    width:110px;
    height:45px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-8px -9px;
    text-indent:-9999px;
}

a.btn_register:hover{
    background-position:-8px -63px;
}


.delete_btn{
 display: inline-block;
 width:41px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-362px -20px;
 text-indent: -9999px;
}

.delete_btn:hover{
 background-position:-362px -52px;
}

.delete_2_btn{ display: inline-block;
 width:22px;
 height:22px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-550px -20px;
 text-indent: -9999px;
}

.delete_3_btn{ display: inline-block;
 width:22px;
 height:22px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-550px -52px;
 text-indent: -9999px;
}

.want_do_btn{
 display: inline-block;
 width:41px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-404px -20px;
 text-indent: -9999px;
}

.want_do_btn:hover{
    background-position:-404px -52px;
}

.done_btn{
    display: inline-block;
 width:41px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-448px -20px;
 text-indent: -9999px;
}

.done_btn:hover{
    background-position:-448px -52px;
}

.modify_btn{ display: inline-block;
    width:41px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-494px -20px;
    text-indent: -9999px;
}

.modify_btn:hover{
    background-position:-494px -52px;
}


.add_recipe_btn{ display: inline-block;
    width:61px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-362px -87px;
    text-indent: -9999px;
}

.add_recipe_btn:hover{
    background-position:-362px -113px;
}

.add_album_btn{  display: inline-block;
    width:61px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-362px -141px;
    text-indent: -9999px;
}

.add_album_btn:hover{
    background-position:-362px -167px;
}

.delete_from_album_btn{ display: inline-block;
    width:61px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-426px -310px;
    text-indent: -9999px;
}

.delete_from_album_btn:hover{
    background-position:-426px -338px;
}

.add_content_btn{ display: inline-block;
    width:61px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-361px -310px;
    text-indent: -9999px;
}

.add_content_btn:hover{
    background-position:-361px -338px;
}

.add_review_btn{ display: inline-block;
    width:61px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-425px -88px;
    text-indent: -9999px;
}

.add_review_btn:hover{
    background-position:-425px -114px;
}

.add_relationship_btn{display: inline-block;
 width:60px;
 height:26px;
 background-image: url("buttons/follow.png");
 background-repeat:no-repeat;
 background-position:0px 0px;
 text-indent: -9999px;
}

.add_relationship_btn:hover{
    background-position: 0px -28px;
}

.go_buy_btn{ display: inline-block;
 width:51px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-490px -310px;
 text-indent: -9999px;
}

.go_buy_btn:hover{
    background-position:-490px -338px;
}

.set_cover_btn{display: inline-block;
 width:61px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-489px -88px;
 text-indent: -9999px;
}

.set_cover_btn:hover{
 background-position:-489px -114px;
}

.cancel_relationship_btn{display: inline-block;
    width:120px;
    height:26px;
    background-image: url("buttons/follow.png");
    background-repeat:no-repeat;
    background-position:0px -56px;
    text-indent: -9999px;
}

.cancel_relationship_btn:hover{
    background-position: 0px -84px;
}

.vote_button {display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/like.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-indent: -9999px;
}
.vote_button.to_like:hover, .vote_button.liked{
    background-position:0px -28px;
}

.collect_btn{ display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/collect.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-indent: -9999px;
}

.collect_btn:hover{
    background-position:0px -28px;
}

.admire_btn { display: inline-block;
    width:60px;
    height:26px;
    background-image: url("buttons/admire.png");
    background-repeat:no-repeat;
    background-position: 0px 0px;
    text-indent: -9999px;
}

.admire_btn.to_admire:hover, .admire_btn.admired{
    background-position: 0px -28px;
}

.add_major_ingredient_btn{display: inline-block;
    width:51px;
    height:25px;
    background-image: url(buttons.png);
    background-repeat:no-repeat;
    background-position:-489px -200px;
    text-indent: -9999px;
}

.add_major_ingredient_btn:hover{
    background-position:-489px -229px;
}

.add_minor_ingredient_btn{display: inline-block;
 width:51px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-370px -258px;
 text-indent: -9999px;
}

.add_minor_ingredient_btn:hover{
 background-position:-370px -283px;
}

.add_step_btn{display: inline-block;
 width:51px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-430px -257px;
 text-indent: -9999px;
}

.add_step_btn:hover{
    background-position:-430px -283px;
}

/*.delete_step_btn{display: inline-block;*/
 /*width:51px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-490px -257px;*/
 /*text-indent: -9999px;*/
/*}*/

/*.delete_step_btn:hover{display: inline-block;*/
 /*width:51px;*/
 /*height:25px;*/
 /*background-image: url(buttons.png);*/
 /*background-repeat:no-repeat;*/
 /*background-position:-490px -283px;*/
 /*text-indent: -9999px;*/
/*}*/

.hide {
    display: none;
}

.delete_ingredients_btn{ display: inline-block;

 width:16px;
 height:16px;
 background-image: url(cancel.png);
 background-repeat:no-repeat;
 /*text-indent: -9999px;*/
}

.delete_steps_btn{ display: inline-block;

 width:16px;
 height:16px;
 background-image: url(close_x.png);
 background-repeat:no-repeat;
 /*text-indent: -9999px;*/
}

.add_major_btn:hover{
 background-position:-490px -229px;
}

.add_major_btn{
 display: inline-block;
 width:61px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-490px -200px;
 text-indent: -9999px;
 }


.add_minor_btn{
 display: inline-block;
 width:61px;
 height:25px;
 background-image: url(buttons.png);
 background-repeat:no-repeat;
 background-position:-362px -257px;
 text-indent: -9999px;
}

.add_minor_btn:hover{
 background-position:-362px -282px;
 }
