#catalogs .cat {
    display: inline-block;
    line-height: 18px;
}

#catalogs .cat.first {
    font-weight: bolder;
    padding: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #dbdbdb;
    background: white;
}

#catalogs .cat.second {
    font-weight: bold;
    padding: 2px 5px 2px 2px;
}

#catalogs .cat.third {
    padding-right: 5px;
}

#catalogs ul {
    left:0px; top:5px;
    min-width: 200px;}