#catalogs .cat {
    display: inline-block;
    line-height: 20px;
}

#catalogs .cat.first {
    font-weight: bolder;
    padding-right: 5px;
}

#catalogs .cat.second {
    font-weight: bold;
    padding: 2px 5px 2px 2px;
}

#catalogs .cat.third {
    padding-right: 5px;
}

#catalogs ul {
    left:0px; top:0px;
    min-width: 200px;}