@import "attributes";

/*
	Comments-Styles
*/

.comments_fields {
    border:1px solid $light_gray;
    padding: 5px;
    margin: 5px;
    display:block;
    overflow:hidden;
    clear: both;
}
.comment {
    padding: 5px;
    margin-bottom: 10px;
    background: white;
    word-wrap: break-word;
    width: 500px;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.new_comment_fields {
    textarea {width: 445px;}
    .submit_comment_btn {float: right; width:80px; height: 24px; background-position: 0 0; font-size: 14px;  }
}