@import "attributes";

// Place all the styles related to the Desires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#desires_box{
    #filters a.filter {
        border-top: 1px solid #a3a09e;
        border-left: 1px solid #a3a09e;
        border-right: 1px solid #a3a09e;
        border-bottom: 1px solid #a3a09e;
        color: $ink_black;
        background: $azure;
    }
    #filters a.filter.selected {
        color: $ink_black;
        background: white;
        border-bottom: 0px solid #a3a09e;
    }
}