@import "attributes";

// Place all the styles related to the Desires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#desire_fields {
    #upload_area{
        width: 480px;
        height: 300px;
        position: relative;
        overflow: hidden;

        #images_container {width: 100%; height: 100%;}
        #images_container .uploaded_image {
            vertical-align: middle;
            float: none;

            img {max-width: 480px; max-height: 300px;}
        }
    }

    #desire_content {width: 380px;height:80px;}

    .qq-upload-button {
        position: absolute;
        left: 200px;
        top:138px;
        vertical-align: middle;
        display: inline-block;
        width: 80px;
        height: 26px;
        padding: 0;
        margin: 0;
        background: url("buttons.png") -242px -58px no-repeat ;
        border: none;

        /*no text displayed*/
        text-indent:-9999px;
        line-height:0px;
    }

    .qq-upload-button-hover {opacity: 0.7;}


    .qq-upload-list {list-style:none;
        display: none;}
    .qq-upload-list li { list-style:none; line-height:15px; font-size:12px;}
    .qq-upload-file, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
        display: none;
    }

    .qq-upload-success {display: none;}

    .qq-upload-spinner {display:inline-block; background: url("loading_big.gif"); width:24px; height:24px; vertical-align:text-bottom;}
    .qq-upload-size,.qq-upload-cancel {font-size:11px;}

    .qq-upload-failed-text {display:none;}
    .qq-upload-fail .qq-upload-failed-text {display:inline;}

    .token-input-list-facebook {width: 300px;}
    #place_street {width: 300px;}
}


/*.solution_option {*/
    /*.solution_hint {*/
      /*position: absolute;*/
      /*top: 48px;*/
      /*left: 30px;*/

      /*.button {*/
        /*width: 60px;*/
      /*}*/
    /*}*/

    /*.percentage_field {*/
      /*font-size: 18px;*/
      /*margin: 0 auto;*/
      /*position: absolute;*/
      /*top: 10px;*/
    /*}*/
/*}*/

.solution_fields {

  .vote_fields {
      .vote_button, .votes  {
          vertical-align: bottom;
      }
  }

  //#image_container {
  //    width: 120px;
  //    height: 120px;
  //
  //    .del_link {
  //        position: absolute;
  //        right: -5px;
  //        top: 0px;
  //    }
  //
  //    .a {
  //      text-align: -999px;
  //    }
  //}

  /*.solution_item {*/
      /*z-index: 100;*/
  /*}*/
}

.solution_option {
  border: 2px solid $light_gray;
  -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
  width: 100px;
  height: 152px;
}

.solution_option:hover {
  cursor: pointer;
}

.solution_option.selected {
  border-color: $berry_red;
}

.solutions_container {
  position: relative;
  min-height: 350px;

  .solutions_group {

  }

  .solution_detail, .new_solution_area {
    overflow: hidden;
    cursor: default;
    position: absolute;
    width: 350px;
    max-height: 460px;
    left: 340px;
    top: 0;
  }


  .vote_fields  textarea{
    width: 330px;
    height: 80px;
  }

  .voters_list {
    /*max-height: 140px;*/
  }
}

#facebox #product_url, #facebox #tuan_url {
  width: 300px;
}
