/* CSS Document */

ul.token-input-list-facebook
{
    width:200px;
}
div.token-input-dropdown-facebook
{
    width:200px;
}

/*
    Administrator styles
*/

.toggle.on{
    border: 0;
    background: url("buttons.png") -240px -90px no-repeat;
    text-indent:-9999px;
}

.toggle.off{
    border: 0;
    background: url("buttons.png") -260px -90px no-repeat;
    text-indent:-9999px;
}

