@charset "utf-8";
/* CSS Document */

div.fields_group {
    border: 1px solid gray;
    margin: 5px 0 5px 0;
    overflow:hidden;
    padding: 5px;
}

div.field {
    overflow:hidden;
}

div.field textarea.brief {
    height: 200px;
}

.actions {
    margin: 5px 0;
}

.nav_links {
    margin-top: 10px;
}

ul.token-input-list-facebook
{
    width:200px;
}
div.token-input-dropdown-facebook
{
    width:200px;
}

/*
    Administrator styles
*/

.toggle.on{
    background: image-url('correct_icon.gif') no-repeat;
}

.toggle.off{
    background: image-url('wrong_icon.gif') no-repeat;
}

