@import "attributes";

#header {
    background: $gray;
    height: 80px;

    .jewelry {
        padding-top: 20px;
    }

    #top_menu {
        line-height:40px;
        display:inline-block;

        li {float:left; padding:0 15px; }

        li a {
            font-size: 16px;
            color:$white;
            text-decoration:none;
        }
        li a:hover, li a.selected {color:$yellow_green;}
    }

    /*  Logo */
    #logo {margin-top: 10px;}
    #logo h1, #logo h2 {
        margin:0px;
        padding: 0px;
        text-indent:-9999px;
        line-height:0px;
    }

    /*
            Top-Menu-Styles
       */


    /*
            Search-Box Styles
       */
    #query {
        width: 150px;
    }

    #query.not_cleared {
        color: $trivial_gray;
    }
}



