@import "attributes";

#header {
    background-color: $light_gray;
    /*background: url("header_bg.png") repeat-x;*/

    a { text-decoration:none; }

    .inter_header {
        width: 960px;
        margin: 0 auto;
    }

    #head_lv1 {
        height: 65px;
    }

    #head_lv2 {
        height: 40px;
        background: $azure;
        background: url("header_bg.png") repeat-x;
    }

    #top_menu {
        line-height:40px;
        display:inline-block;

        li {float:left; padding:0 15px; }

        li a {
            font-size: 16px;
            color:$ink_black;
        }
        li a:hover, li a.selected {color:$blue;}
    }

    /*  Logo */
    #logo { height: 60px;}
    #logo h1, #logo h2 {
        margin:0px;
        padding: 0px;
        text-indent:-9999px;
        line-height:0px;
    }

    /*
            Top-Menu-Styles
       */


    /*
            Search-Box Styles
       */
    #query {
        width: 150px;
    }

    #query.not_cleared {
        color: $trivial_gray;
    }
}



