@import "attributes";

#header {
    background-color: white;
    a { text-decoration:none; }

    .inter_header {
        width: 960px;
        margin: 0 auto;
    }

    #head_lv1 {
        height: 65px;
        background: $shadow_gray;
    }

    #head_lv2 {
        height: 40px;
        background: $berry_red;
        background: url("header_bg.png") repeat-x;
    }

    /*  Logo */
    #logo {
      height: 60px;

      h1, h2 {
          margin:0px;
          padding: 0px;
          text-indent:-9999px;
          line-height:0px;
      }
    }

    /*
            Top-Menu-Styles
       */

    /*
            Search-Box Styles
       */
    #header_search_form {
        margin-top: 7px;
    }
    #query {
        width: 150px;
    }
}



