@import "attributes";


#primary_tags {

    .piece {
        margin-top: 10px;
        background-color:white;

        h3 {float: left; font-size: 16px; height:30px; line-height:30px;margin-left:5px;}
        .tag_links { float: left; margin-left: 20px; height:30px; padding-top:5px;}
        .tag_links li{ float: left; margin: 0 5px;}
        .tags_list {
            float: left;
            .hint_box {
                margin:2px; font-size:13px;
            }
        }

        .primary_tag {
            position: relative;

            .sep {width: 120px; height: 120px;}

            .tag_summary {
                padding: 0 5px;
                position: absolute;
                background: white;
            }
        }
    }
}


/*.round_box {*/
    /*.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}*/
    /*.b1,.b8{margin:0 5px;}*/
    /*.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}*/
    /*.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}*/
    /*.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}*/
    /*.content{border-right:1px solid;border-left:1px solid;overflow:hidden;}*/
    /*.b2, .b3, .b4, .b5, .b6, .b7, .content{border-color:#fff; background-color:#fff;}*/
    /*.b1, .b8 {background:#fff;}*/
/*}*/


#home_header {
    height:200px;

    #home_slider {
        #silder_tabs { width: 160px; }

        #carousel { width: 450px; }

        .navigator
        {
            padding-left: 5px;
            margin: 2px 0;
            background: $shadow_gray;
            height:46px;
            cursor: pointer;
        }

        .navigator.selected
        {
            background: $azure;
        }
    }

    #home_stamp {
        width: 310px;
    }
}


#filters {
    .filter_tab {
        display: inline-block;
        margin: 0 2px 0 0;
        height:30px;

        background: $azure;

        a {  color: $font_gray;
             text-decoration: none; }

        .filter {
            font-size: 15px;
            font-weight: bold;
            padding: 15px;
        }

        .small_bar {
            display: block;
            height: 5px;
            margin: 0 auto;
            text-indent: -9999px;
            background: url("small_bar.jpg") repeat-x;
            width: 0;
        };

    }

    .filter_tab.selected {
        background: $shadow_gray;
        a {  color: $ink_black;}
    }
    .filter_tab.hovered {
        .small_bar {width: 100%;};
    }
}
