/*General style here*/
.icon {
  display: block;
  border: 0;
  background: url("buttons.png") 0 0 no-repeat;
  text-indent:-9999px;
  text-transform: capitalize;
}

/*individiual styles*/
.icon.logo_img {
  width: 190px;
  height: 49px;
  background-position: -2px -450px;
  margin-top: 10px;
}

.icon.small_jiechan_ribbon {
  width: 24px;
  height: 24px;
  background-position: -400px -2px;
}

.icon.bubble {
  width: 14px;
  height: 14px;
  background-position: -146px -116px;
}

.icon.down_arrow {
  width: 8px;
  height: 8px;
  background-position: -106px -136px;
}

.icon.icon_star {
  display: block;
  width: 14px;
  height: 14px;
  background-position: -280px -90px;
}

.icon.icon_place {
  width: 14px;
  height: 16px;
  background-position: -408px -176px;
}

.icon.icon_recipe {
  width: 16px;
  height: 16px;
  background-position: -408px -154px;
}

.icon.icon_product {
  width: 16px;
  height: 16px;
  background-position: -408px -194px;
}