/*
    Items Styles
*/

.item {
	border-top:1px solid #dbdbdb;
	margin-bottom:10px;
	position:relative;
	padding:2px 3px 1px 3px;
	background:#FFFFFF;
    overflow:hidden;
}

.item.info { width:650px; }
.item.info .left_fields { float:left; margin-right:8px;}
.item.info .vote_fields { margin-top:5px;}
.item.info .left_fields img { float:left; margin-top:10px;}
.item.info .central_fields { float:left; width:400px}
.item.info .central_fields h3 {margin: 0 0 6px 0;}
.item.info .central_fields p {margin: 0 0 4px 0;}
.item.info .right_fields { float:right; overflow:hidden; width:150px;}
.item.info .right_fields span, .item.info .right_fields div, .item.info .right_fields p  {margin: 0; float: right;display:block; clear:both;}

/*
	Vote-Fields-Styles
*/

.vote_fields {
	float:left;
	text-align:center;
	min-width:30px;
}
.vote_fields .vote_button { display:block; line-height: 12px; }
.vote_fields .vote_button.up { background: image-url('vote_up_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up_voted { background: image-url('voted_up_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.up:hover { background: image-url('voted_up_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down { background: image-url('vote_down_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down_voted { background: image-url('voted_down_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields .vote_button.down:hover { background: image-url('voted_down_button.png') center no-repeat; text-indent:-9999px;}
.vote_fields span.votes {line-height: 12px; font-size:18px; font-family:"Comic Sans MS", cursive;vertical-align: middle;}