@import "attributes";

/*#desires_box {*/
    /*background: $shadow_gray*/
/*}*/

#masonry_container {
    /*background: $shadow_gray;*/
}

.masonary_item {
    margin: 10px;
    width:220px;
}

 .inner_frame {
    padding: 10px;
    position: relative;
    background: none repeat scroll 0 0 white;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);

    .jiechan_ribbon {
        z-index: 100;
        position: absolute;
        right: -4px;
        top: -4px;
        width: 74px;
        height: 74px;
        background-position: -324px -2px;
    }

    .centered img {
        width :200px;
    }
}

.corner_stamp {
    width: 190px;
    height: 100px;
    padding: 10px;
    /*margin: 10px 30px 0 0;*/

    margin-left: 10px;
    float: right;
    background: $light_gray;
    color: #333230;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}


#filters {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*border-bottom: 5px solid white;*/

    .filter_tab {
        display: inline-block;
        margin: 0 2px 0 0;
        height:30px;

        background: $berry_gray;

        a {  color: $font_gray;
             text-decoration: none; }

        .filter {
            font-size: 15px;
            font-weight: bold;
            padding: 15px;
        }

        .small_bar {
            display: block;
            height: 5px;
            margin: 0 auto;
            text-indent: -9999px;
            background: $berry_red repeat-x;
            width: 0;
        };

    }

    .filter_tab.selected {
        background: white;
        a {  color: $ink_black;}
    }
    .filter_tab.hovered {
        .small_bar {width: 100%;};
    }
}


#more_nav {
    text-align: center;
    margin-top: 10px;
    #more_nav_button {
        width: 300px;
        height: 30px;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
    }

    .chapter_link {
        display:inline-block;
        text-decoration: none;
        margin: 2px;
        padding: 3px;
        border: 1px solid $berry_green;
        background: white;
        font-size: 13px;
        line-height: 16px;
    }

    .chapter_link.current, .chapter_link:hover {
        color: white;
        background: $berry_red;
    }
}

/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
