@import "attributes";

.nav_menu {
    cursor:pointer;
    position:relative;

    .nav_menu a:hover, a.selected {color: $blue;}
    .nav_menu a { margin-right: 8px; }

    /* sub-menus*/
    ul.sub_menu { position:absolute; left:0px; top: -2px;
        width:100px;
        line-height:16px; margin-top: 16px; padding: 5px 0px;
        background: none repeat scroll 0 0 $shadow_gray;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
        z-index: 2000; /* for IE */ display:none;
       }

    ul li {display:block;  padding: 0 0 2px 4px; list-style-type:none; }
    ul li:first-child { border-top: none; }
    ul li a {  color: $ink_black; }
    ul li a:hover { color:$blue; }
}

.nav_menu:hover ul { display:block;  }

#top_third_party a {margin-right:  10px; color: $ink_black;}
#top_third_party a:hover { color: $blue; }



