/*
    Control-Panel-Styles
*/

#control_panel .panel {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #dbdbdb;
    background: white;
    margin-bottom:10px;
    padding:10px;
}

#control_panel p {
    margin-bottom:10px;
}

#control_panel .close_panel_link {
    float: right;
}
