@import "attributes";

/*TODO
   clear up...
*/

.small_product {
    float: left;
    width: 100px;
    text-align: center;
    overflow: hidden;
}


.related_product_block li{
    width:100px;
    margin: 0 5px;
    float:left;
    display:block;
    text-align:center;
    font-size:10px;
}

.related_product_block span{
   color:#ff7eb8;
}

.product_img_box{
   border:1px solid #a3a09e;
   border-color:transparent;
   /*padding:13px;*/
   /*margin:10px;*/
   /*margin:10px 10px 10px 10px;*/
   width:270px;
   height:270px;
}

.product_small_img_box{
   border:1px solid #a3a09e;
   border-color:transparent;
   /*padding:10px;*/
   width:100px;
   height:100px;
   /*align:center*/
}

.product_detail_box{
   width: 345px;
   height:300px;
   border:1px solid #a3a09e;
   border-color: transparent;
   padding:10px;
   vertical-align:middle;

}

.product_desc_box{
   height:auto;
   max-height:500px;
   width: 620px;
   border:1px solid #a3a09e;
   /*border-radius:10px;*/
   /*-moz-border-radius:10px;*/
   /*-webkit-border-radius:10px;*/
   border-color: transparent;
   padding:10px;
   overflow-y:scroll;
   margin:0px 0px 15px 0px;
}

.product_detail_box p{
 font-family: $general_font;
 font-size:16px;
 text-align:left;
}

.product_detail_box b{
 font-family: $general_font;
 font-size:16px;
 text-align:left;
}

.sideleft {
   width: 270px;
   height: auto;
   margin-right:5px;
}

/*.sideright {*/
   /*width: 300px;*/
   /*height:auto;*/
/*}*/

.detail_nav {
    clear:both;
    margin:5px 0px 5px 0px;
	font-size:14px;
    vertical-align:center;
}


