@import "attributes";

/*TODO
   clear up...
*/

.small_product {
    float: left;
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.detail_nav {
    clear:both;
    margin:5px 0px 5px 0px;
	font-size:14px;
    vertical-align:center;
}


.product_info {
    .product_detail {
        width: 470px;
    }
}
