@import "attributes";
.step_uploader {
    .qq-upload-button {
        display:block; /* or inline-block */
        height:128px; width: 200px; padding: 7px 0; text-align:center;
        background-position: center;
        /*background-image: url("default_step.png");*/
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        border-bottom:1px solid #ddd;color:#fff;
        border: none;

        /*no text displayed*/
        text-indent:-9999px;
        line-height:0px;
    }

    .qq-upload-button-hover {opacity: 0.7;}
}

.step_content{
    width: 200px;
    height: 100px;
}

.step_container
{
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.step_container .step_content
{
    height: 120px;
}

#recipe_description
{
    width:680px;
    height:100px;
}

.major_ingredients
{
    display: inline;
    width:350px;
    float:left;
}

.minor_ingredients
{
    display: inline;
    width:350px;
    float:left;
}

