@import "attributes";

.step_uploader {
    .qq-upload-button {
        display:block; /* or inline-block */
        height:128px; width: 210px;
        margin:10px 10px;
        text-align:center;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        border-bottom:1px solid #ddd;color:#fff;
        border: none;

        /*no text displayed*/
        text-indent:-9999px;
        line-height:0px;
    }

    .qq-upload-button-hover {opacity: 0.7;}
}

#recipe_form {
    #recipe_name {width: 343px;}

    .step_content{
        width: 210px;
        height: 100px;
    }

    .step_container
    {
        margin-left: 0px;
        margin-right: 0px;
        overflow: hidden;
    }

    .steps .addedclass
    {
      height:360px;
    }

    .step_container .step_content
    {
        height: 120px;
    }

    .major_ingredients
    {
        width:350px;
    }

    .minor_ingredients
    {
        width:350px;
    }

    .ingredient_amount
    {
      width:100px;
    }

    .ingredient_name
    {
      width:210px;
    }

    #recipe_info {
      width: 470px;
    }

    #recipe_notice {
      width: 450px;
    }
}


#sortable {
  list-style-type: none;

  li, .place_holder {
    width:230px;
    margin: 10px;
    float: left;
    position:relative;
    text-align: center;
  }                   
  
  li {border: 1px dashed gray;}
  
  .place_holder {
    height: 362px;
    background: $azure_gray;
    opacity: 0.7;
  }
}

