/*#review_dialog {width:682px; height:160px }*/
#review_dialog {width:682px; height:200px }
#review_dialog .char_aware { width:670px; height: 74px; }
#review_dialog .button {float: right; width:116px; height: 32px; background-position: 0 0; font-size: 20px;  }
/*#review_dialog .review_ext {width: 300px; }*/