#review_fields {
    height:auto;

    .char_aware { width:665px; height: 90px; }
    #submit_review_btn {float: right; margin-right: 10px; width:65px; height: 26px; background-position: 0 0; font-size: 20px;  }
}

#images_container {
    .del_link {
        position: absolute;
        right: -5px;
        top: 0px;
    }

    .linked_item, .image {
    position: relative;
    margin-right: 10px;
    width: 100px;

    .linked_item_icon {
        position: absolute;
        right: 0px;
        top: 84px;
    }
}
}

