@import "attributes";
/*
    Waterfall Styles
*/

#waterfall_container {
    position: relative;
}

#static_waterfall_container {
    position: relative;
}

/*for real waterfall, not the frozen(fake) waterfall*/
#waterfall_container .waterfall {
    position: absolute;
    overflow: hidden;
}

.waterfall {

    display: inline-block;
    width: 220px;
    margin: 0 5px 20px 5px;
}

.waterfall .image img {
    margin: 10px 10px 0 10px;
}

.waterfall .user_info {
    position: relative;
}

.waterfall .more_info {
    width:200px;
    height:70px;
    border-style:solid;
    /*border-width:5px;*/

    position: absolute;
    left: 0px;
    top: -80px;
    background-color: #EDEFF4;
}

#loading_pins {
    position: absolute;
    bottom: 0px;
    z-index:4;
}

#back_to_top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
}

#back_to_top:hover {
    opacity: 0.8;
}