/*
	Slideshow
*/

#slides {
	z-index:100;
    position: relative;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {

	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:360px;
	height:120px;
	/*display:block;*/
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top: 5px;
	left: 600px;
	width: 20px;
	height: 32px;
	/*display:block;*/
	z-index:101;
    display: inline-block;
    background: url("buttons.png") 0 0 no-repeat;
    text-indent:-9999px;
    background-position: -272px -140px;
}

#slides .next {
	left:620px;
    background-position: -294px -140px;
}
