@import "attributes";

/*TODO*/

.tabContainer .tab{
    font-size: 14px;
}

.tabContainer .tab:hover{
    /*text-decoration:underline;*/
    text-decoration:none;
}

.tabContainer > div{
    width: 100px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    float: left;
}

.tabContainer > div.unselected{
    background-image: url("tab.png");
    background-repeat: no-repeat;
}

.tabContainer > div.unselected a {
    color:  $blue;
}

.tabContainer .selected{
    background-color: $blue;
    background-image: url("tab_clicked.png");
    background-repeat: no-repeat;
}

.tabContainer .selected a {
    color:  #ffffff;
}

.tabContent {
    padding-top: 10px;
    min-height: 400px;
    border-top: 1px solid $gray;
    overflow: hidden;
    clear: both;
}

#contentHolder .preloader{
    display:block;
    margin:120px auto;
}