@import "attributes";

.tabContainer .tab:hover{
    text-decoration:none;
}

.tabContainer .tab{
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.tabContainer .tab {
    color:  $berry_green;
    width: 100px;
    height: 30px;
    background: url("buttons.png") 0 0 no-repeat;
    background-position: -322px -116px;
}

.tabContainer .tab.selected{
    color:  #ffffff;
    width: 100px;
    height: 30px;
    background: url("buttons.png") 0 0 no-repeat;
    background-position: -322px -84px;
}

.tabContent {
    padding-top: 10px;
    min-height: 400px;
    border-top: 1px solid $gray;
    overflow: hidden;
    clear: both;
}

#contentHolder .preloader{
    display:block;
    margin:120px auto;
}