/*     Logo */
#logo { float: left;}
#logo h1, #logo h2 {
	margin:0px;
	display:block;
	text-indent:-9999px;
    line-height:0px;
}

/*
	Top-Menu-Styles
*/

#top_menu { margin:0; padding:0; list-style:none; color:#fff; line-height:40px; display:inline-block; height: 45px;
    float:left; overflow: hidden; background:#172322 none repeat scroll 0 0; position: absolute; left: 150px; right: 18px;}
#top_menu a { font-size: 20px; color:#fff; text-decoration:none; }
#top_menu li {float:left;
    padding:0 20px;}
#top_menu li a:hover, #top_menu > li a.selected {color:#B0D730;}



