// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large_topic {height:200px;}
.large_topic .topic_title {font: 15px/24px 'Helvetica Neue',Helvetica,Arial,Sans-serif; display:inline-block;}
.large_topic .tags {margin-left: 5px;}
.large_topic .tag {margin: 0 5px; }

.large_topic .slice {overflow:hidden;}

.large_topic .recipe {
    width:200px; height:160px;
    position: relative;
	float:left;
	margin: 5px;
}

.large_topic .recipe h3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:right;
}
.large_topic .recipe h3 span {
   color: white;
   font: bold 12px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
   letter-spacing: -1px;
   background-color: transparent;
   padding: 10px;
}

.large_topic .item {
	width: 128px;
	height :80px;
   	position: relative;
	float:left;
	margin: 5px;
}
.large_topic .item h3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:right;
}
.large_topic .item h3 span {
   color: white;
   font: bold 12px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
   letter-spacing: -1px;
   background-color: transparent;
   padding: 10px;
}

.large_topic .prod.first {width:200px; height:160px;}