/*Override the qq upload button*/
#uploader {
    width: 55px;
    height: 40px;}

.qq-uploader {
    width: 55px;
    height: 40px; position:relative; width: 100%;}

.qq-upload-button {
    display: inline-block;
    width:55px;
    height:24px;
    padding: 0;
    margin: 0;
    background: no-repeat url("add_image.png");
}
.qq-upload-button {
    text-indent:-9999px;
    line-height:0px;
}

.qq-upload-button-hover {opacity: 0.7;}


.qq-upload-list {list-style:none;
    display: none;}
.qq-upload-list li { list-style:none; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    display: none;
}

.qq-upload-success {display: none;}

.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

