.master {width: 100%; height:150px;}
.master .head { width: 100px;}
.master .desc { width: 200px; margin: 0 5px;}
.master .feeds {width: 378px;}

.more_head_img {float:left; width:48px; height:48px; border: 1px solid white;}


.user_info {
    position: relative;
}

.more_user_info {
    position: absolute;
    top: -10px;
    left: 0px;
}