.master {width: 100%; height:150px;}
.master .head { width: 100px;}
.master .desc { width: 200px; margin: 0 5px;}
.master .feeds {width: 378px;}

.more_head_img {float:left; width:48px; height:48px; border: 1px solid white;}


.user_info {
    position: relative;
}

.more_user_info {
    width:200px;
    height:70px;
    border-style:solid;
    /*border-width:5px;*/

    position: absolute;
    top: -70px;
    left: 0px;
    background-color: #EDEFF4;
}
