.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}
.user_register #user_login_name{
    width:300px;

}

.user_register #user_password_confirmation{
    width:300px;

}

.user_register #user_password{
    width:300px;

}

.user_register #user_email{
    width:300px;
}


/*author panel partial*/
.user_info_head_block .userinfoCollection .collectList{float: left; height:35px; width:60px; text-align:center;}
.user_info_head_block .userInfoNav a{float:left;width:65px; height:32px; text-align:center; font-size:18px; }
