/*
    Waterfall Styles
*/

#waterfall_container {
    position: relative;
    overflow: hidden;
}

#loading_pins {
    position: absolute;
    bottom: 0px;
    z-index:4;
}

.waterfall {
    display: inline-block;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    overflow: hidden;
    position: absolute;
}

.waterfall img {
    margin: 5px 10px;
}

#back_to_top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
}

#back_to_top:hover {
    opacity: 0.8;
}