<div class="content_block_inside">
    <h2><%= t("users.new") %></h2>

    <%= render 'form' %>

    <%= link_to t("general.show"), [:admin, @user], :class => "button" %> |
    <%= link_to t("general.back"), admin_users_path, :class => "button" %>
</div>