<script type="tpl" id="tpl">
    <div class="waterfall grid_3 box_shadow" data-id="{{id}}">
     <a href="<%= "/products/{{id}}" %>" class="image">
        <img alt="{{name}}" height="{{picture_height}}" src="{{picture_url}}" />
     </a>
     <p class="m5">{{name}}</p>
    </div>
</script>