<p class="ml5">您可能还爱吃？</p>
<div class="related_product_block">
    <% products.each do |product| %>
        <li>
          <%= link_to image_tag( product.get_image_url(true), :border => 0, :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT, :class=>"product_small_img_box"), product%>
          <div>
              <%= link_to product.name, product %>
          </div>
        </li>
    <% end %>
</div>