<% unless products.blank? || products.empty? %>
    <div class="box_shadow overflow_hidden p5">
        <h3>相关产品推荐...</h3>
        <% products.each do |product| %>
            <div class="fl center overflow_hidden mt2" style="width:100px; height:130px;">
              <%= link_to image_tag( product.get_image_url(:thumb), width: 80, height: 80), product%><br/>
              <%= link_to product.name, product %>
            </div>
        <% end %>
    </div>
<% end %>
