<% unless products.blank? || products.empty? %>
    <span><h2>相关产品推荐...</h2></span><br/>
    <ul>
        <% products.each do |product| %>
            <li>
              <%= link_to image_tag( product.get_image_url(:thumb), :border => 0, :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT, :class=>"product_small_img_box"), product%>
              <div>
                  <%= link_to product.name, product %>
              </div>
            </li>
        <% end %>
    </ul>
<% end %>