<% title t("products.products_list") %>

<%= render "shared/catalogs", catalogs: @catalogs %>

<% if current_user_has_permission? :editor %>
    <div class="m5">
      <%= link_to t("vendors.new_product"), new_product_path, class: "button" %>
    </div>
<% end %>

<div class="grid_12 to_left to_right">
    <%= render "shared/waterfall", path: more_products_path, waterfall_partial: "products/product_waterfall", columns_count: 4, columns_width: 230 %>
</div>
