<% title t("products.products_list") %>

<%= render "shared/catalogs", :catalogs => @catalogs %>

<script type="tpl" id="tpl">
    <div class="pin ks-waterfall" data-id="{{id}}">
     <a href="#" class="image">
        <img height="{{height}}" width = "<%= IMAGE_THUMB_WIDTH %>" alt="{{name}}" src="{{picture_url}}" />
     </a>

     <p class="description">{{name}}</p>
    </div>
</script>


<div id="ColumnContainer">


</div>




<% if current_user_has_permission? :editor %>
      <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
<% end %>


<%= javascript_tag "waterfall('#{products_path}')" %>