<% title t("products.products_list") %>

<%= render "shared/catalogs", :catalogs => @catalogs %>

<% if current_user_has_permission? :editor %>
    <div class="actions">
      <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
    </div>
<% end %>


<%= render "shared/waterfall", :path => products_path %>
