<% title t("products.products_list") %>

<%= render "shared/catalogs", :catalogs => @catalogs %>

<div id="products_list">
    <%= paginate @products %>
    <% @products.each_slice(3) do |slice| %>
        <div class="products_slice">
          <% slice.each do |product| %>
            <div class="waterfall">
                <%= render "large_product", :product => product %>
            </div>
          <% end %>
        </div>
    <% end %>
    <%= paginate @products %>
</div>


