<div class="field">
  <%= f.label :name, t("general.name") %>
  <%= f.text_field :name %>
  <%= f.label :pass, t("reviews.checkpoint_pass") %>
  <%= f.check_box :pass, :class => "fancy_check" %>
</div>
