<div class="content_block_inside">
    <%= render 'form' %>

    <%= link_to t("general.show"), @review, :class => "button" %> |
    <%= link_to t("general.back"), reviews_path, :class => "button" %>
</div>
