<% title t("reviews.reviews"), false %>

<div>
    <%= image_tag "reviews_banner.png" %>
</div>

<% if current_user_has_permission? :normal_user %>
    <%= link_to_function "", '$(this).next("div").toggle();', class: "add_review_btn" %>
    <div class="clearfix display_none">
        <div class="grid_9 to_left">
            <%= render "reviews/review_fields", :review => Review.new %>
        </div>
    </div>
<% end %>

<div class="grid_12 to_left to_right">
    <%= render "shared/waterfall", :path => more_reviews_path, :waterfall_partial => "reviews/review_waterfall", :columns_count => 4, :columns_width => 230 %>
</div>

