<div class="content_block_inside">
    <h2><%= t("reviews.reviews") %></h2>

    <%= paginate @reviews %>
    <% @reviews.each do |review| %>
        <%= render "shared/review_item", :review => review %>
    <% end %>

    <%= link_to t("reviews.post_new_review"), new_review_path, :class => "button" %>
</div>