<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>

<p>
  <b>City:</b>
  <%= current_user.profile.address.try(:city).try(:name) %>
</p>

<p>
  <b><%= t("profile.my_reviews") %></b>
  <% @my_reviews.each do |review| %>
    <%= render "info_item/info_item", :item => review %>
  <% end %>
</p>

<%= link_to t("general.change"), profile_edit_path %>
