<div class="toggle_disabled">
    <%= link_to item.disabled ? t("general.enable") : t("general.disable"), admin_base_toggle_disabled_path(:id => item.id, :type => item.class.name), :method => :put, :class => "button" %>
</div>