<div>
    <b><%= link_to tip.title, tip, 'data-content' => simple_format(word_wrap(tip.content, 40)), :class => "tip" %></b><br/>
    <div class="right_fields">
        <%= link_to t("tips.collect"), collect_tip_path(tip), :method => :put, :class => "button" if (current_user and not is_already_collected(tip)) %>
    </div>
</div>
