<div class="content_block_inside">
    <h2><%= t("tips.edit") %></h2>

    <%= render 'form' %>

    <%= link_to t("general.show"), @tip, :class => "button" %> |
    <%= link_to t("general.back"), tips_path, :class => "button" %>
</div>