<div class="fl solution_option add_new img_frame mb5 mr5 <%= selected ? "selected" : "" %>">
    <div class="fix_hint b_white_alpha30 black f12" style="top:0px;left:0px;height: 20px;">
    </div>

    <div class="mt30">
        <span class="f20 trivial center">
            <%= "+添加攻略" %>
        </span>
    </div>

    <div class="fix_hint b_white_alpha30 black f12" style="width: 100px; height: 26px; overflow: hidden;">
    </div>

    <div class="new_solution_area <%= selected ? "" : "display_none" %>">
        <%= render "solutions/solution_fields", :solution => @desire.solutions.build %>
    </div>

</div>