<div class="fl solution_option add_new img_frame mb5 mr5">
    <div class="fix_hint b_white_alpha30 black f12" style="top:0px;left:0px;height: 20px;">
    </div>

    <div class="mt30">
        <span class="f20 trivial center">
            <% if current_user_has_permission? :normal_user %>
                <%= "+解馋攻略" %>
            <% else %>
                立即注册，分享解馋攻略
            <% end %>
        </span>
    </div>

    <div class="fix_hint b_white_alpha30 black f12" style="width: 100px; height: 26px; overflow: hidden;">
    </div>

</div>