<div id="recipe_linker" class="display_none clearfix">
    <span>搜索菜谱：</span><br/>
    <span class="trivial">请输入菜谱的名字</span><%= text_field_tag "recipe_name", "例：红烧肉", class: "not_cleared" %><br/>
    <%= image_tag "loading.gif", id: "link_spinner", class: "display_none" %>
    <br/>
    <!--<span id="recipe_not_found_label" class="display_none">抱歉，没有找到相关的菜谱。请再试试其它的。</span>-->

    <table id="recipe_hints_container" class="formatted display_none" style="min-height: 200px;">
        <tr class="head">
          <th>图片</th>
          <th>名称</th>
          <th>作者</th>
          <th></th>
        </tr>
    </table>

    <div class="mt5 clearfix">
      <span class="trivial">找不到？</span><%= link_to "+添加菜谱", new_recipe_path, :class => "btn btn_new_recipe" %>
    </div>
</div>
