<div class="solutions_group <%= index %> <%= index == 0 ? "display_block" : "display_none" %>">
    <% solutions.each_slice(3).each_with_index do |slice, slice_index| %>
       <div class="clearfix">
           <% index_count = 0 %>
           <% slice.each_with_index do |solution, sub_index| %>
               <%= render "solutions/solution_option", solution: solution, selected: (slice_index == 0 && sub_index == 0) %>
                <% index_count = sub_index %>
           <% end %>
           <% if index_count < 2 %>
                <%= render "solutions/add_solution_option" %>
           <% end %>
       </div>
    <% end %>
</div>