<div class="vote_fields">
    <%= form_tag url_for(controller: "desires", action: "vote", method: :post) do %>
        <%= hidden_field_tag "solution_id", solution.id %>
        <%= submit_tag "投票", class: "mt5 btn btn_vote lighter_touch" %>
    <% end %>
</div>