<div id="uploader">
    <%= form_tag :html => {:multipart => true}, :controller => "images", :actions => "upload" do %>
        <%= file_field_tag "input_file" %>
        <%= submit_tag t("general.upload"), :id => "upload_btn", :class => "button" %>
        <%= image_tag "loading.gif", :id => "loading", :style => "display:none" %>
    <% end %>
</div>

<div id="images_list" class="clearfix">

</div>
