<b><%= f.label :images, t("images.images") %><%= mark_required(item, :images) %></b>
<br/>

<input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

<div id="file-uploader">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>
</div>

<div id="images_container" class="block">
    <%= render :partial => "images/single_image_field", :collection => item.images, :as => :image %>
</div>
