<span class="image">
    <%= hidden_field_tag "images[]", single_image_field.id %>
    <%= get_thumbnail(single_image_field, true) %>
    <%= link_to_function image_tag("close_x.png", :border => 0, :width => 24, :height => 24), "delete_image(this)" %>
</span>

