<div class="image fl ">
    <%= hidden_field_tag "images[]", image.id %>
    <%= link_to_function image_tag("cancel.png", :border => 0), "delete_image(this, #{IMAGES_LIMIT})" %><br/>
    <%= get_thumbnail(image, true) %><br/>
    <%= image.picture_url %>
</div>
