<div class="clearfix" style="width:100px;height:100px;">
    <% place.get_image_urls.each do |url| %>
        <%= image_tag(url, width: size, height: size, alt: place.name, title: t("object_types.place") + " - " + place.name, class: 'lazy fl img_frame') %>
    <% end %>
</div>