<% content_for :content do %>
  <div class="two_columns_container">
    <div class="left_column">
        <%= content_for?(:left_column) ? yield(:left_column) : yield %>
    </div>
    <div class="right_column">
        <%= yield(:right_column) if content_for?(:left_column) %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
